<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd()">
              <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
              <h4 class="mb-3 f-w-400">Reset your password</h4>
              <div class="mb-4">
                <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" required
                spaceTrimStartEndInput [allowStartWithSpace]="false">
                <mat-error style="font-size: 12px;" *ngIf="resetPwdForm['controls']['email']['invalid']">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <button class="btn btn-block btn-primary mb-4" [disabled]="resetPwdForm['invalid'] || disable">Reset password</button>
            </form>

                <p class="mb-0 text-muted">Back to signin? <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
