<div class="mat-dialog-header pb-3">
    <h5 class="modal-title text-c-blue">Attention</h5>
    <i class="fas fa-times" type="button" mat-dialog-close (click)="closeDialog()"></i>
</div>
<div class="row pt-3">
    <!-- <span class="dialog-header-c">Attention</span> -->
    <div class="col-sm-12 px-0">
        <div>
            <div class="d-flex align-items-center mb-2">
                <!-- fas fa-exclamation-circle -->
                <i class="fas fa-question-circle text-c-blue mr-3" style="font-size: 45px;"></i>
                <p class="mb-2 text-c-blue">
                    This charge code correction impacts Charge Code Group(s) associated with Vendor Products. In 
                    some instances, we need you to review the affected Charge Code Group(s) and verify that the 
                    Primary and Required Charge Codes are correctly designated.  In other cases, the system will 
                    automatically remove the Charge Code from the group due to the changes.
                </p>
            </div>

            <p style="margin-left: 70px;" class="text-c-blue">
                Please correct these Charge Code groups:
            </p>
            <div style="margin-left: 70px; max-width: 580px;" *ngFor="let obj of data.$values">
                <div class="d-flex" >
                    <!-- <p style="margin-bottom: 3px;" class="text-c-blue">Vendor Product: {{obj.VendorProductName}} - Group ID {{obj.GroupId}}</p> <p class="link-text" (click)="update(obj)"> Update Charge Code Group </p> -->
                    <p class="text-c-blue">
                        Vendor Product: {{obj.VendorProductName}} - Group ID {{obj.GroupId}}
                        <span class="link-text" style="margin-left: 10px;" (click)="update(obj)">Update Charge Code Group</span>
                    </p>
                
                </div> 
            </div>
        </div>
        <div>
            <ng-container>
                <div class="text-right">
                    <a  class="link-text" (click)="saveCorrection()">I made the corrections, save it please</a>
                    <button class="btn btn-primary ml-4" (click)="closeAndReview()">
                        Close & Review</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>