.row{
    margin: 0 !important;
    padding: 0 !important;
}
.mat-dialog-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e5e8;
}
.mat-dialog-content {
    max-height: calc(100vh - 160px) !important;
    padding: 0;
}

:host ::ng-deep .form-group label {
    float: left !important;
  }
  
  :host ::ng-deep .form-group span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
  }
  
  :host ::ng-deep .form-control{
    height: unset !important;
    padding: 0 !important;
  }

  :host ::ng-deep .card-body{
    padding: 0 !important;
  }