
<mat-accordion>
    <mat-expansion-panel class="custom-panel border" [expanded]="true" [hideToggle]="true" [disabled]="true">
        <mat-expansion-panel-header class="custom-header">
            <div class="header-content">
                <svg [ngClass]="{'disabled': loader}" class="pc-icon text-primary circle-icon"
                    (click)="refreshbuttonEmitFn(true)">
                    <use xlink:href="assets/fonts/custom-icon.svg#refreshCircle"></use>
                </svg>
                <mat-panel-title class="panel-title">
                    <i class="icon-size fas fa-tools" style="color: #4680ff;"></i>&nbsp;Inventory for Contract:
                    {{tabData?.DocumentName ? tabData?.DocumentName : overviewData?.Overview?.DocumentName}}
                </mat-panel-title>
            </div>
        </mat-expansion-panel-header>

        <app-common-p-tree-table [refreshbutton]="refreshbutton" [payload]="payload" [GridAPI]="GridAPI" [preAppliedfilterArr]="preAppliedfilterArr"
            (tableDataExist)="tableDataExistFn($event)" [cols]="cols" (exportAccountData)="exportAccountDataFn($event)"
            (selectedRowsEmit)="selectedRowsEmitFn($event)" (rowCellDoubleClicked)="rowCellDoubleClickedFn($event)"
            (refreshbuttonEmit)="refreshbuttonEmitFn($event)" (totalRecordsEmit)="totalRecordsEmitFn($event)"
            (loaderEmit)="loaderEmitFn($event)" />
    </mat-expansion-panel>
</mat-accordion>