.action-buttons {
  display: flex;
  align-items: center;
  gap: 8px;

  .avatar {
    cursor: pointer;
    
    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
      pointer-events: none;
    }
  }

  .inner-option {
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      margin-right: 5px;
    }
  }

  ul.disabled {
    opacity: 0.65;
    pointer-events: none;
  }
} 