<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <form [formGroup]="changePwdForm" (ngSubmit)="changePwd()">
              <h4 class="mb-4 f-w-400">Change your password</h4>

              <div class="mb-4">
                <label class="plab" for="exampleInputPassword1">New Password</label>
                <mat-form-field appearance="fill">
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="password"
                  spaceTrimStartEndInput [allowStartWithSpace]="false">
                  <button type="button" class="password-hide-btn" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                </mat-form-field>
                <ng-container *ngIf="changePwdForm['controls']['password']['touched'] && changePwdForm['controls']['password']['invalid']">
                  <mat-error style="font-size: 12px;" *ngIf="changePwdForm['controls']['password']['errors']['required']">Password is required</mat-error>
                  <mat-error style="font-size: 12px;" *ngIf="changePwdForm['controls']['password']['errors']['pattern']">Password must have at least:<br>
                    <ol>
                        <ul style="margin-left: -45px;">
                            <li>8 characters</li>
                            <li>1 number and 1  special characte</li>
                            <li>1 upper case and 1 lower case letter</li>
                        </ul>
                    </ol> </mat-error>
                </ng-container>
              </div>

              <div class="mb-4">
                <label class="plab" for="exampleInputPassword1">Confirm password</label>
                <mat-form-field appearance="fill">
                  <input matInput [type]="hideCp ? 'password' : 'text'" placeholder="Confirm password"
                    formControlName="crfPassword"
                    spaceTrimStartEndInput [allowStartWithSpace]="false">
                  <button type="button" class="password-hide-btn" mat-icon-button matSuffix (click)="hideCp = !hideCp"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hideCp ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                </mat-form-field>
                <ng-container *ngIf="changePwdForm['controls']['crfPassword']['touched'] && changePwdForm['controls']['crfPassword']['invalid']">
                  <mat-error style="font-size: 12px;" *ngIf="changePwdForm['controls']['crfPassword']['errors']['required']">Confirm Password is required</mat-error>
                  <mat-error style="font-size: 12px;" *ngIf="f.crfPassword.errors.confirmedValidator">Password and Confirm Password must be
                    match</mat-error>
                </ng-container>
              </div>
              <button class="btn btn-block btn-primary mb-4">Change password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
