.mat-form-field {
    width: 280px !important;
}

.vbut{
    
    border: solid 1px #4680ff;
    color: #4680ff;
    /* border: hidden; */
}
::ng-deep {
    .mat-form-field{
        margin-bottom: -15px;
    }
}
.password-hide-btn {
    border: solid 2px #cfcfcf;
    color: #cfcfcf;
    margin-bottom: -36px !important;
    border-radius: 24px;
    padding: 0;
    background-color: #ffffff;
}
::ng-deep  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: inline-block !important;
    font-size: inherit  !important;
    width: 2em  !important;
    height: 2em  !important;
}
::ng-deep div.mat-form-field-flex {
    background-color: white !important;
    padding: 0 0.05em 0 0 !important;
}
.plab {
    display: block !important;
    margin-bottom: -0.3rem;
}
 
