.row {
  margin: 0;
  padding: 0;
}

.edit-customer {
  i {
    color: #4680ff !important;
  }

  .font-weight-500 {
    font-weight: 500;
  }
}

table {
  width: 100%;
}

.example-delete-tab-button {
  margin: 8px;
}

.example-card {
  max-width: 1000px;
}

.fas.fa-info-circle{
  cursor: pointer;
}

.bold-me {
  font-style: normal;
  font-weight: 600;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

agm-map {
  height: 400px;
}

.round {
  border-radius: 3px;
}

.bg {
  background-color: #4680ff !important;
}

.btnaddl {
  //margin-top: 67px;
  cursor: pointer;
  position: absolute;
  //right: -10px;
  left: 72px;
  z-index: 99;
  //border: hidden;
  //background: transparent;
  top: 3px;
}

.btnaddcl {
  /* margin-top: 60px;
  cursor: pointer;
    position: absolute;
    right: 0px;
    z-index: 99;
    border: hidden;
    background: transparent; */

  cursor: pointer;
  position: absolute;
  left: 58px;
  z-index: 99;
  border: hidden;
  background: transparent;
  top: -6px;
}

.btnaddinv {
  cursor: pointer;
  position: absolute;
  left: 65px;
  z-index: 99;
  border: hidden;
  background: transparent;
  top: -6px;
}

.btnup {
  //margin-top: 122px;
  cursor: pointer;
  position: absolute;
  //right: -6px;
  left: 130px;
  z-index: 99;
  border: hidden;
  background: transparent;
  top: 3px;
}


.had {
  margin-bottom: 17px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.bbtn {
  margin-inline-start: 10px;
  //border: #4680ff !important;
  //background-color: #4680ff61;
  border: solid 1px #4680ff !important;
}

product-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .product-category {
    vertical-align: middle;
    line-height: 1;
  }
}

::ng-deep .edit-customer-mb-none .card {
  margin-bottom: 0 !important;
}

:host ::ng-deep {

  .p-datatable-thead{
    text-wrap: nowrap;
  }

  .padding-none .mat-expansion-panel-body {
    padding: 0px !important;
  }

  .p-datatable .p-datatable-thead > tr {
    height: 32px !important;
  }

  .p-datatable .p-datatable-thead > tr > th {
    font-size: 14px;
    font-weight: 700;
    color: #181d1f;
    background: #EEE;
    border-top: 1px solid #BABFC7;
    border-bottom: 1px solid #BABFC7;
  }

  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .p-datatable .p-datatable-tbody > tr {
    height: 24px !important;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 13px;
    color: #181d1f;
    word-wrap: break-word;
  }

  .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background: #fcfcfc;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 13px;
    color: #181d1f;
    word-wrap: break-word;
  }

}



@media screen and (max-width: 576px) {
  .product-item {
    flex-wrap: wrap;

    .image-container {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 100px;
    }
  }
}

.btnps {
  //position: absolute;
  right: 0;
  //border: hidden;
  //background: white;
  margin-top: 3px;
  margin-left: 16px;
}

.mrg {
  margin-top: 48px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.container {
  max-height: 400px;
  overflow-y: scroll !important;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fb2 {
  border: solid;
  border-radius: 8px;
  margin-bottom: 12px;
  border-color: #80808061;
}

.hdec {
  //border-color: #80808061;
  background: #80808061;
}

.sacc2 {
  border: solid 0px;
  border-radius: 12px;
  margin-bottom: 12px;
  border-color: #80808061;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.math {
  background: #80808061 !important;
  height: 40px;
}

.matt {
  margin-left: 40%;
  margin-right: 0px !important;
}

.sbubtn {
  color: black;
  background-color: #cfcfcf;
  border-color: gainsboro;
  border-radius: 3px;
}

.ficon {
  margin-top: 2px;
}

.cell-wrap {
  white-space: pre !important;
}

::ng-deep :host scroll-bar-css-selector {
  background-color: green;
}

.btn-list {
  color: rgb(207, 207, 207) !important;
  background-color: rgb(207, 207, 207) !important;
  border-color: black !important;
}

.mat-form-field {
  width: 333px !important;
}

.vbut {
  border: solid 1px #cfcfcf;
  color: #cfcfcf;
  margin-bottom: -36px !important;

  /* border: hidden; */
}

::ng-deep div.listbox button.btn-primary {
  background-color: rgb(207, 207, 207);
  border-color: rgb(207, 207, 207);
  color: black;
}

::ng-deep div.mat-form-field-flex {
  background-color: white !important;
}

.plab {
  margin-bottom: 26px;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
  min-width: 20rem;
}

.text-c-red {
  color: #4680ff;
  font-size: 12px;
}

:host ::ng-deep.card .card-body {
  padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6,
:host ::ng-deep .mat-expansion-panel-body .row .col-md-8 {
  padding-left: 1px !important;
  padding-right: 3px !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-12 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2) {
  padding-left: 3px !important;
  padding-right: 1px !important;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 15px 5px 5px !important;
}

:host ::ng-deep .mat-accordion .mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid #cfcfcf !important;
}

:host ::ng-deep .form-group label {
  float: left !important;
}

:host ::ng-deep .form-group span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px;
}

:host ::ng-deep .margin-b-none {
  margin-bottom: 0 !important;
}

:host ::ng-deep .margin-top-10 {
  margin-top: 10px !important;
}

:host ::ng-deep .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 10px !important;
}


:host ::ng-deep .mat-expansion-panel {
  margin-bottom: 10px !important;
}

.mat-expansion-panel-header {
  border-radius: 0 !important;
}

:host ::ng-deep label.star-label-inline {
  display: flex !important;
}

:host ::ng-deep .invoice-setting-main .mat-expansion-panel-body {
  padding: 0 !important;
}

.invoice-settings-heading {
  margin-bottom: 10px;
  padding: 10px;
  margin: 10px;
  background: #eaeaea80;
  border: 1px solid #babfc7;
  border-radius: 6px;
  label {
    font-weight: 700;
    &:nth-of-type(1){
      text-align: right;
      padding-right: 18px;
    }
  }

  label:nth-of-type(1) {
    width: 235px
  }

  label:nth-of-type(2) {
    width: 108px;
  }
}

.invoice-setting-section {
  display: flex;
  text-wrap: nowrap;
  gap: 15px;
  padding: 10px;
  margin: 10px;
  background: #eaeaea80;
  border: 1px solid #babfc7;
  border-radius: 6px;

  // &.short-dropdow-width span{
  //   width: 270px;
  // }

  &.child-main-section{
    padding: 10px 10px 0;
    margin: 10px 10px 0 !important;
    background: #eaeaea80;
    border: 1px solid #babfc7;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
  }
  &.child-section-multi{
    padding: 5px 10px;
    margin: 0 10px !important;
    background: #eaeaea80;
    border: 1px solid #babfc7;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
  }

  &.child-section{
    padding: 5px 10px 10px;
    margin: 0 10px 10px;
    background: #eaeaea80;
    border: 1px solid #babfc7;
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }

  label.form-label {
    min-width: 220px;
    text-align: right;

    // &.pre-space-label {
    //   position: relative;
    //   left: 20px;

    //   &.pre-dropdown-width {
    //     min-width: calc(220px + 102px);
    //   }
    // }
  }

  span {
    width: 100%;
  }
}

button.close {
  position: relative;
  top: -15px;
  right: -10px;
}

@media only screen and (max-width: 991px) {
  .margin-b-none button {
    padding: 8px 12px;
  }
}

@media only screen and (max-width: 767px) {

  :host ::ng-deep .mat-expansion-panel-body .row .col-md-6,
  :host ::ng-deep .mat-expansion-panel-body .row .col-md-8,
  :host ::ng-deep .mat-expansion-panel-body .row .col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  :host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

}