.math {
    background: #80808061 !important;
    height: 40px;
}

.matt {
    margin-left: 40%;
    margin-right: 0px !important;
}

i.fas.fa-info-circle {
    color: #4680ff !important;
}

.mat-expansion-panel {
    box-shadow: none;
}

.mat-expansion-panel-header {
    border-radius: 0 !important;
}
.form-group span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}

.form-group label {
    float: left !important;
    font-weight: 500;
}

.form-control {
    padding: 0 !important;
    height: unset !important;
}

:host ::ng-deep .sandbox-step-grid {

    .mat-expansion-panel-body {
        padding: 0 15px !important;

        ag-grid-angular {
            height: 400px !important;
            padding-bottom: 0 !important;

            .ag-root-wrapper {
                border-radius: 0 0 4px 4px !important;
            }
        }

        .grid-header-wrapper {
            margin: 0 !important;
        }
    }

}

.vba-accordion .mat-expansion-panel-header i.fa-info-circle {
    position: absolute;
    right: 20px;
    top: calc(50% - 7px);
}

:host ::ng-deep .vba-accordion .mat-expansion-panel-header .mat-expansion-indicator {
    display: none !important;
}