<mat-accordion>
    <mat-expansion-panel class="custom-panel border" [expanded]="true" [hideToggle]="true" [disabled]="true">

        <mat-expansion-panel-header class="custom-header">
            <div class="header-content">
                <svg [ngClass]="{'disabled': loader}" class="pc-icon text-primary circle-icon" (click)="refreshbuttonEmitFn(true)">
                    <use xlink:href="assets/fonts/custom-icon.svg#refreshCircle"></use>
                </svg>
                <mat-panel-title class="panel-title">
                    <i class="fas fa-map-marker-alt text-primary"></i>
                    <span class="fs-14 fw-bold text-dark">Locations</span>
                </mat-panel-title>

                <i class="fas fa-info-circle info-icon text-primary" (click)="openPopup()"></i>
            </div>
        </mat-expansion-panel-header>

        <ng-template #ccText>
            <div class="mat-dialog-header">
                <button type="button" class="close" mat-dialog-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-left dialog-data">
                <div>
                    The charges and inventory count for a location are based on
                    the most recent completed billing period, which typically
                    reflects a full month's spending. "Current Charges" refer to
                    the latest full billing period, while "Previous Charges"
                    refer to the billing period before that.
                </div>

                <div class="mt-2">
                    <b>For example,</b> if today is September 15th, "Current
                    Charges" would cover August, and "Previous Charges" would
                    cover July.
                </div>
            </div>
        </ng-template>
            <app-common-p-tree-table [refreshbutton]="refreshbutton" [payload]="payload" [GridAPI]="GridAPI" (tableDataExist)="tableDataExistFn($event)" [cols]="cols"  
            (exportAccountData)="exportAccountDataFn($event)" (selectedRowsEmit)="selectedRowsEmitFn($event)" (rowCellDoubleClicked)="rowCellDoubleClickedFn($event)"
            (refreshbuttonEmit)="refreshbuttonEmitFn($event)"
            (totalRecordsEmit)="totalRecordsEmitFn($event)"
            (loaderEmit)="loaderEmitFn($event)"
            />
        
        


    </mat-expansion-panel>
</mat-accordion>
<div class="text-end mt-2 mr-3">
    {{totalRecords > 0 ? totalRecords : 0}} {{totalRecords > 1 ? 'records' : 'record'}} 
</div>

