<div>
    <mat-accordion class="example-headers-align sandbox-step-grid">
        <mat-expansion-panel style="width: 100%;" [expanded]="true">
            <mat-expansion-panel-header class="math">
                <mat-panel-title class="matt">
                    <!-- <i class="ficon fas fa-puzzle-piece"></i> &nbsp; -->
                    <i class="ficon fas fa-tools"></i>&nbsp;Additional Bill Detail
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-12 px-0">
                    <div class="additional-bill-detail-main">
                        <table class="table">
                            <tr>
                                <th class="no">Vendor:</th>
                                <td class="text-left">
                                    <h3>Charge Code Billing Alias</h3>
                                    <p>Verizon Wireless</p>
                                </td>
                                <td class="text-left">
                                    <h3>Vendor Billing Alias</h3>
                                    <p>Verizon Wireless</p>
                                </td>
                                <td class="text-left">
                                    <h3>Vendor</h3>
                                    <p>Verizon Wireless</p>
                                </td>
                                <td class="text-left">
                                    <h3>Child Vendor</h3>
                                    <p>Verizon Wireless</p>
                                </td>
                                <td class="text-left">

                                </td>
                            </tr>

                            <tr>
                                <th class="no">Account:</th>
                                <td class="text-left">
                                    <h3>Payable Account Number</h3>
                                    <p>4987651497954</p>
                                </td>
                                <td class="text-left">
                                    <h3>Sub Account Number</h3>
                                    <p>4987651497954</p>
                                </td>
                                <td class="text-left">
                                    <h3>Billing ID</h3>
                                    <p>4987651497954</p>
                                </td>

                            </tr>

                            <tr class="tr-border-none">
                                <th class="no" rowspan="4">Charge:</th>
                                <td class="text-left">
                                    <h3>Charge Code</h3>
                                    <p>Mobile Select 5GB Unl V&M</p>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Code Name</h3>
                                    <p>Mobile Select 5GB Unl V&M</p>
                                </td>
                            </tr>

                            <tr class="tr-border-none">
                                <td class="text-left">
                                    <h3>Charge</h3>
                                    <p>59.00</p>
                                </td>
                                <td class="text-left">
                                    <h3>Origin</h3>
                                    <p>Carrier Invoice</p>
                                </td>
                                <td class="text-left">
                                    <h3>Unit of Measure</h3>
                                    <p>NA</p>
                                </td>
                                <td class="text-left">
                                    <h3>Prorated</h3>
                                    <p>Yes or Blank</p>
                                </td>
                                <td class="text-left">
                                    <h3>Date Range</h3>
                                    <p>10/22-11/13</p>
                                </td>
                            </tr>

                            <tr class="tr-border-none">
                                <td class="text-left">
                                    <h3>Charge Description1</h3>
                                    <p>Mobile Select 5GB Unl V&M</p>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description2</h3>
                                    <p>Monthly Recurring</p>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description3</h3>
                                    <p>Pooled Plan</p>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description4</h3>
                                    <p></p>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description5</h3>
                                    <p>AP95435</p>
                            </tr>

                            <tr>
                                <td class="text-left">
                                    <h3>Charge Description6</h3>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description7</h3>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description8</h3>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description9</h3>
                                </td>
                                <td class="text-left">
                                    <h3>Charge Description10</h3>
                                </td>
                            </tr>

                            <tr>
                                <th>Distribution:</th>
                                <td class="text-left">
                                    <h3>Charge Location</h3>
                                    <p>Acct Level/Acct Level Adjustment/Service Level</p>
                                </td>
                                <td class="text-left">
                                    <h3>Distribution Rule Applied</h3>
                                    <p>NA/Acct Level Data Pool Cost by Pool ID</p>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="add-new-rule-main mt-4 mb-3">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <div class="d-flex justify-content-between">
                <h2>Add New Rule</h2>
                <div>
                    <i class="fas fa-info-circle"  container="body"
                        ngbTooltip="Add New Rule Tooltip" tooltipClass="tooltip-bg"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12">
            <div>
                <div class="w-100 add-new-rule-right">
                    <div class="form-group">
                        <label class="form-label">Distribution Rule Name *</label>
                        <span><input type="text" class="form-control"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Distribution Rule Description *</label>
                        <span><input type="text" class="form-control"></span>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Vendor</label>
                        <p>Verizon Wireless</p>
                    </div>

                    <div class="form-group">
                        <label class="form-label">VBA</label>
                        <p>Verizon Wireless</p>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Charge Code</label>
                        <p>Charge Code - Charge Code Name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-0 col-md-0 col-sm-12">

        </div>
    </div>
</div>

<div class="add-new-rule-main">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <div class="d-flex justify-content-between">
                <h2>Rule Conditions</h2>
                <div class="rule-con-tooltip-position">
                    <i class="fas fa-info-circle" container="body"
                        ngbTooltip="Rule Conditions Tooltip" tooltipClass="tooltip-bg"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-10 col-md-10 col-sm-12">
            <div>
                <div class="w-100 add-new-rule-right">
                    <div class="form-group">
                        <label class="form-label">Rule Status *</label>
                        <mat-radio-group>
                            <mat-radio-button [value]="false">Active
                            </mat-radio-button>
                            <mat-radio-button [value]="true" class="m-l-10">Inactive
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Rule Option *</label>
                        <mat-radio-group>
                            <mat-radio-button [value]="false">Monthly
                            </mat-radio-button>
                            <mat-radio-button [value]="true" class="m-l-10">One-time
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Distribution Method *</label>
                        <mat-radio-group class="distribution-method-radio">
                            <mat-radio-button [value]="false">To all Billing IDs within the current Sub
                                Account
                            </mat-radio-button>
                            <mat-radio-button [value]="true">To all Billing IDs within the Payable Account
                            </mat-radio-button>
                            <mat-radio-button [value]="true">By Pool ID
                            </mat-radio-button>
                            <mat-radio-button [value]="true">To specific Billing IDs
                            </mat-radio-button><i class="fas fa-info-circle" 
                                container="body" ngbTooltip="Rule Conditions Tooltip"
                                tooltipClass="tooltip-bg"></i>
                        </mat-radio-group>

                    </div>


                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-0 col-md-0 col-sm-12">

        </div>

    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12">

        </div>
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
            <div class="validate-summary-total-right sandbox-step-grid">
                <div>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel style="width: 100%;" [expanded]="true">
                            <mat-expansion-panel-header class="math">
                                <mat-panel-title class="matt">
                                    <!-- <i class="ficon fas fa-puzzle-piece"></i> &nbsp; -->
                                    <i class="ficon fas fa-tools"></i>&nbsp;Search Inventory within
                                    Invoice
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12 px-0">
                                    <ng-container style="height: max-content;">
                                        <app-ag-grid-table [excelBtnEnable]="true"
                                            [columnDefs]="columnDefs1"
                                            [rowData]="rowData.ChargeCodeTypes.$values"
                                            [rowSelection]="rowSelection" [sheetName]="'Charge Code Type'"
                                            [defaultColDef]="defaultColDef" [sideBar]="sideBar"
                                            [singleClickEdit]="true">
                                        </app-ag-grid-table>
                                    </ng-container>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary btn-raised">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>