<div class="col-sm-12 col-xl-12 padding-left-none">
    <div class="row">
        <div class="col-md-12 section-wrapper">
            <div class="section-width">
                <div class="form-group">
                    <label class="form-label w-500">Select Customer</label>
                    <span><p-dropdown [options]="customers" appendTo="body" optionLabel="AccountName" [filter]="true"
                            filterBy="AccountName" (onChange)="getCompanyByCustomerId($event.value)"
                            placeholder="{{customersLoader ? 'Loading...': 'Select Customer...'}}" optionValue="Id"
                            [showClear]="false" [(ngModel)]="customersVal">
                        </p-dropdown></span>
                </div>

                <div class="form-group">
                    <label class="form-label w-500">Select Company</label>
                    <span> <p-dropdown [options]="companies" optionLabel="CompanyName" [filter]="true"
                            filterBy="CompanyName" [showClear]="true" placeholder="Select Company..."
                            [(ngModel)]="companiesVal" appendTo="body" optionValue="CompanyID" [showClear]="false">
                        </p-dropdown></span>
                </div>

                <div class="form-group">
                    <label class="form-label w-500">Cost Center</label>
                    <span>
                        <input type="text" class="form-control" [(ngModel)]="costcenterVal">
                    </span>

                </div>
            </div>
            <div class="btn-sec">
                <button title="Search" class="btn btn-primary" style="padding: 6px 15px;" (click)="search()"
                    [disabled]="searchBtnRefresh">
                    <span class="spinner-border spinner-border-sm mr-1" role="status" *ngIf="searchBtnRefresh">
                    </span>
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div class="cost-center-structure-accordian">
    <mat-accordion class="example-headers-align accordion-header-tooltip">
        <!-- <mat-expansion-panel style="width: 100%;height: 390px;" [expanded]="true" [disabled]="true"> -->
        <mat-expansion-panel [expanded]="true" [disabled]="true">
            <button type="button" class="fas fa-check c-refresh-speed" title="Refresh"
                (click)="loadNodes(true)"></button>
            <mat-expansion-panel-header class="math">
                <mat-panel-title class="matt">
                    <i class="fas fa-calendar-plus"></i>&nbsp;Cost Center Repository
                </mat-panel-title>
                <i class="fas fa-info-circle" (click)="openPopup()" tooltipClass="tooltip-bg"></i>
                <ng-template #ccText>
                    <div class="mat-dialog-header">
                        <button type="button" class="close" mat-dialog-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="text-left dialog-data">
                        <div>
                            Many customers have extensive lists of Cost Centers, many of which are not relevant to the
                            spend in the application. These customers may choose to load all Cost Centers and then move
                            only the ones they use for spending into the application. To do this, search the Cost Center
                            Repository for the relevant Cost Centers and mark them as 'Used' to make them available for
                            assigning costs. Cost Centers marked as 'Used' are automatically set to 'Active' in the Cost
                            Center module and can be assigned to various items for cost accounting. Cost Centers that
                            are unmarked or explicitly marked as 'Do Not Use' will be excluded from the Cost Center tab.
                        </div>

                        <div class="mt-2">
                            <b>Repository - Status field</b><br>
                            These are all Cost Centers the Customers imported from a Customers ERP, Finance or
                            Accounting systems. They may or may not have to do with communications.<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;<b>New</b> - Imported Cost Centers and not listed as used
                            or Do Not Use<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;<b>Used</b> - Cost Centers to add to the available Cost
                            Center list<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;<b>Do Not Use</b> - Cost Centers purposely excluded from the
                            available Cost Center list
                        </div>

                        <div class="mt-2">
                            <b>Cost Center - Status field</b><br>
                            These are Cost Centers related to the Customers communication Costs in the
                            system.<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;<b>Active</b> - Cost Centers the Company is activity
                            using<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;<b>Inactive</b> - Cost Centers the Company has stopped
                            using or are not using yet
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel-header>


            <ng-container style="height: max-content;">

                <p-treeTable #treeTable [value]="files" columnResizeMode="expand" [columns]="displaycols" [rows]="10"
                    [lazy]="true" (onLazyLoad)="loadNodes(true)" [totalRecords]="totalRecords" [scrollable]="true"
                    [resizableColumns]="true" selectionMode="checkbox" selectionMode="single"
                    [reorderableColumns]="true" (onColResize)="handleColumnResize($event)">

                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <ng-container *ngFor="let col of columns">
                                <col [ngStyle]="{'width': col.width || 'auto', 'min-width': col.width || '100px'}" />
                            </ng-container>
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr class="header-row p-treetable-thead-parent">
                            <ng-container *ngFor="let col of cols">
                                <ng-container *ngIf="col.isChildren && col.isParentVisible">
                                    <th [attr.data-parent-id]="col.parent" [attr.colspan]="col.colspan"
                                        ttResizableColumn class="parent-header"
                                        [ngStyle]="{'width': col.parentWidth || 'auto', 'height': '50px' }">
                                        <span>{{ col.header }}</span>
                                        <i class='pi pi-fw pi-chevron-right icon-contracted'
                                            *ngIf="!innerLoading && col.isChildren && col.isicon == 1 && col.isToggle"
                                            (click)="toggleColumn(col.parent , 'close')"></i>
                                        <i class='pi pi-fw pi-chevron-left icon-expanded'
                                            *ngIf="!innerLoading && col.isChildren && col.isicon == 0 && col.isToggle"
                                            (click)="toggleColumn(col.parent , 'open')"></i>
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="header-row p-treetable-thead-child">
                            <ng-container *ngFor="let col of columns">
                                <ng-container>
                                    <th ttResizableColumn ttReorderableColumn (click)="!['USED', 'UNUSED'].includes(col.field) && OrderBy(col.field  )"
                                        class="child-header"
                                        [ngStyle]="{'width': col.width || 'auto', 'height': '50px' }">
                                        {{ col.childHeader }}
                                        <i class='pi pi-arrow-up' *ngIf="col.sorting === 'asc'"></i>
                                        <i class='pi pi-arrow-down' *ngIf="col.sorting === 'desc'"></i>
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="header-row p-treetable-thead-filter">
                            <ng-container *ngFor="let col of columns">
                                <ng-container>
                                    <th class="child-header"
                                        [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">
                                        <input type="text" [(ngModel)]="col.valuesset" [disabled]="col.isenable"
                                            pInputText size="8" *ngIf="col.type === 'text'"
                                            (input)="filerOutSide($event, col)" style="width: auto" />

                                        <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="col.valuesset"
                                            [disabled]="col.isenable" pInputText size="8"
                                            *ngIf="col.type === 'numberFilter'" (input)="filerOutSide($event, col)"
                                            style="width: auto" />

                                        <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender-grid"
                                            [disabled]="col.isenable" (ngModelChange)="filerOutSide($event, col)"
                                            *ngIf="col.type === 'dateFilter' && !col.isenable"
                                            [(ngModel)]="col.valuesset" placeholder="mm-dd-yyyy" appendTo="body"
                                            [showIcon]="true">
                                        </p-calendar>

                                        <input type="text" *ngIf="col.type === 'dateFilter' && col.isenable"
                                            [(ngModel)]="col.valuesset" [disabled]="col.isenable" pInputText size="8"
                                            style="width: auto" />

                                        <button *ngIf="col.type !== '' " type="text" pButton
                                            icon="pi pi-filter-icon pi-filter icon-filter"
                                            (click)="openContextMenu($event,col )"></button>
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr class="body-row" (dblclick)="onRowDoubleClick(rowData)">
                            <ng-container *ngFor="let col of columns;  let i = index">
                                <ng-container>
                                    <td [(selection)]="selectedNode"
                                        (contextmenu)="showContextMenu($event, contextMenu , rowData[col.field])"
                                        class="cell" [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">


                                        <ng-container [ngSwitch]="col.field">

                                            <span *ngSwitchCase="'USED'">
                                                <input type="radio" [checked]="rowData.StatusCode  === 'USED'"
                                                    (change)="radioClick(rowData, 'USED')">
                                            </span>
                                            <span *ngSwitchCase="'UNUSED'">
                                                <input type="radio" [checked]="rowData.StatusCode  === 'UNUSED'"
                                                    (change)="radioClick(rowData, 'UNUSED')">
                                            </span>
                                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="body-row"
                            *ngIf="isApiAlerdayCall && lastNode?.data.RepoId === rowNode.node.data.RepoId ">
                            <td class="cell">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td class="cell" [attr.colspan]="columns.length">
                                <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
                                <span *ngIf="!loading && totalRecords === 0">
                                    No Record Found
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
                <div class="custome-side-buttons">
                    <div class="custome-side-button" [ngClass]="{'active-border': sidebarVisible }">
                        <!-- vericaltext -->
                        <a class="custom-side-button-button ag-icon ag-icon-columns" (click)="openSidebar()">
                            <!-- <i class="fa fa-check"></i>  -->
                            Columns</a>
                    </div>
                </div>

                <div class="sidebar" *ngIf="sidebarVisible">
                    <div class="sidebar-content">
                        <p-tree [value]="filesColumns" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)"
                            (onNodeUnselect)="nodeUnselect($event)" [(selection)]="selectedFiles"> </p-tree>
                    </div>
                </div>
                <p-contextMenu
                    [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}"
                    #contextMenu [model]="items"></p-contextMenu>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<p-dialog [(visible)]="displayModal" modal="true" [closable]="true" [draggable]="false" [resizable]="false"
    [dismissableMask]="true" [header]="''" #treeTable
    [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption1" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>

            </div>
        </div>

        <div class="row" *ngIf="fieldsName?.type === 'text' ">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                    (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1" placeholder="mm-dd-yyyy"
                    appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <!-- First In Range -->
        <div *ngIf="selectedOption1 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text' ">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                        (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1_1"
                        placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
                </div>
            </div>
        </div>

        <!-- First In Range Over -->
        <div class="row my-1" *ngIf="displayModal1">
            <div class="col-md-12 d-flex justify-content-center condition-label">
                <label *ngFor="let radiobutton of radioItems">
                    <input type="radio" name="options" (click)="model.option = radiobutton"
                        [checked]="radiobutton === model.option" />{{ radiobutton }}
                </label>
            </div>
        </div>

        <div class="row" *ngIf="displayModal1">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption2" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>
            </div>
        </div>

        <!-- -------------- -->

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'text' ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text" OnlyNumber [allowNegative]="true"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2"
                placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <!-- Second In Range -->
        <div *ngIf="displayModal1 && selectedOption2 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text' ">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2_1" placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true">
                    </p-calendar>
                </div>
            </div>
        </div>
        <!-- Second In Range Over -->
        <!-- -------------- -->



        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="text" class="btn btn-primary btn-sm" pButton (click)="onFilterChangedValue()">
                    Apply
                </button>
            </div>
        </div>
    </div>
</p-dialog>