<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col-sm-12 px-0">
        <mat-card class="">
            <mat-card-content>

                <app-header-section [buttonOptions]="buttonOptions" [selectedButton]="selectedButton"
                    [currentIndex]="currentIndex" [loaderParent]="loaderParent"
                    [currentOpenEditPagevar]="currentOpenEditPagevar" [isDisabledExport]="isDisabledExport"
                    [tableDataExist]="tableDataExist" [viewNEdit]="viewNEdit" [trackByIndex]="trackByIndex"
                    (exportDataAsExcel)="onBtnExportDataAsExcel()" (add)="addNewBillingAlias()"
                    (buttonClick)="onButtonClick($event)"></app-header-section>

                <div class="table-responsive">
                    <mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="changeTab($event)">
                        <mat-tab>
                            <div class="col-sm-12">
                                <ng-template mat-tab-label>
                                    <b> <i class="fas fa-user-ninja" style="color: #4680ff;"> </i> Billing Alias</b>
                                </ng-template>
                            </div>

                            <div class="mt-2">
                                <mat-accordion class="example-headers-align accordion-grid ">
                                    <mat-expansion-panel style="width: 100%;" [expanded]="true" [disabled]="true">
                                        <mat-expansion-panel-header class="math">
                                            <mat-panel-title class="matt font-weight-bold">
                                                <i class="fas fa-user-ninja" style="color: #4680ff;"></i>&nbsp;
                                                Billing Alias
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <app-common-p-tree-table [refreshbutton]="refreshbutton" [payload]="payload"
                                            [GridAPI]="GridAPI" (tableDataExist)="tableDataExistFn($event)"
                                            [cols]="cols" (exportAccountData)="exportAccountDataFn($event)"
                                            (selectedRowsEmit)="selectedRowsEmitFn($event)"
                                            (rowCellDoubleClicked)="rowCellDoubleClickedFn($event)"
                                            (refreshbuttonEmit)="refreshbuttonEmitFn($event)"
                                            (totalRecordsEmit)="totalRecordsEmitFn($event)"
                                            (loaderEmit)="loaderEmitFn($event)" />
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </mat-tab>
                        <ng-container *ngFor="let billingAliasTab of addeditBillingAliasTabs;let i = index">
                            <mat-tab *ngIf="billingAliasTab.tab=='edit'">
                                <ng-template mat-tab-label>
                                    <b>
                                        <i class="fas fa-edit" style="color: #4680ff;"> </i>
                                        Billing Alias
                                        ({{billingAliasTab['rowData']['VendorBillingAliasName']}})</b>&nbsp;<mat-icon
                                        (click)="removeAddEditBillingAliasTab(i)">
                                        cancel
                                    </mat-icon>
                                </ng-template>
                                <ng-template matTabContent>
                                    <app-edit-billing-alias (afterBillingAliasEdit)="removeAddEditBillingAliasTab(i)"
                                        [billingAliasData]="billingAliasTab.rowData">
                                    </app-edit-billing-alias>
                                </ng-template>
                            </mat-tab>
                            <mat-tab *ngIf="billingAliasTab.tab=='add'">
                                <ng-template mat-tab-label>
                                    <b>
                                        <i class="fas fa-user-ninja" style="color: #4680ff;"> </i>
                                        Add Billing Alias</b>&nbsp;<mat-icon (click)="removeAddEditBillingAliasTab(i)">
                                        cancel
                                    </mat-icon>
                                </ng-template>
                                <ng-template matTabContent>
                                    <app-add-billing-alias
                                        (onAddBillingAliasComponentDestroy)="onAddBillingAliasComponentDestroy($event,i)"
                                        (afterBillingAliasAdd)="removeAddEditBillingAliasTab(i)"
                                        [billingAliasData]="billingAliasTab.rowData">
                                    </app-add-billing-alias>
                                </ng-template>
                            </mat-tab>
                        </ng-container>

                    </mat-tab-group>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>