<mat-accordion class="example-headers-align accordion-grid ">
    <mat-expansion-panel style="width: 100%;" [expanded]="true">
        <button type="button" class="fas fa-check c-refresh-speed" title="Refresh" [ngClass]="{'disabled': recordPublishedOrCompleted}"
            (click)="loadNodes(pTableContain, true)"></button>
        <mat-expansion-panel-header class="math">
            <mat-panel-title class="matt font-weight-bold">
                <!DOCTYPE svg
                    PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 102.000000 216.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,216.000000) scale(0.100000,-0.100000)" fill="#4680ff"
                        stroke="none">
                        <path d="M598 2136 c-100 -27 -158 -104 -158 -210 0 -216 277 -297 397 -115
                                    31 48 41 128 23 185 -35 106 -154 169 -262 140z" />
                        <path d="M387 1643 c-14 -4 -9 -11 27 -33 66 -42 101 -108 101 -190 0 -42 -6
                                    -77 -17 -99 -22 -42 -23 -38 7 -45 39 -10 92 -63 110 -110 14 -36 16 -78 13
                                    -263 -3 -215 -4 -220 -28 -256 -13 -20 -41 -45 -62 -57 l-37 -21 -3 -261 -3
                                    -261 25 -16 c30 -20 188 -28 241 -12 21 6 47 23 58 38 20 25 21 37 21 413 l0
                                    387 46 6 c55 6 93 31 116 78 16 30 18 67 18 314 0 308 -3 325 -63 369 -27 20
                                    -43 21 -290 23 -144 0 -270 -1 -280 -4z" />
                        <path d="M220 1558 c-57 -30 -82 -65 -88 -126 -3 -39 0 -58 17 -89 32 -55 66
                                    -76 131 -81 45 -3 61 0 89 20 78 53 100 129 59 208 -25 48 -89 90 -138 90 -14
                                    0 -46 -10 -70 -22z" />
                        <path d="M64 1192 c-41 -32 -44 -53 -44 -267 0 -164 3 -212 15 -235 18 -35 43
                                    -50 84 -50 l31 0 0 -288 0 -289 26 -24 c23 -22 34 -24 116 -24 86 0 91 1 114
                                    28 l24 28 0 285 0 284 34 0 c41 0 83 38 91 84 4 17 5 120 3 229 l-3 199 -33
                                    29 -32 29 -203 0 c-176 0 -205 -3 -223 -18z" />
                    </g>
                </svg>&nbsp;Parent Charge Code Assignment
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p-treeTable #treeTable [value]="files" columnResizeMode="expand" [columns]="displaycols" [rows]="10"
            [lazy]="true" (onLazyLoad)="loadNodes($event, true)" [totalRecords]="totalRecords"
            (onNodeExpand)="onNodeExpand($event)" [scrollable]="true" [resizableColumns]="true" selectionMode="checkbox"
            [reorderableColumns]="true" (onColResize)="handleColumnResize($event)" [(selection)]="selectedNode1"
            style="overflow-x: scroll;">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <ng-container *ngFor="let col of columns">
                        <col [ngStyle]="{'width': col.width || 'auto', 'min-width': col.width || '100px'}" />
                    </ng-container>
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr class="header-row p-treetable-thead-parent">
                    <ng-container *ngFor="let col of cols">
                        <ng-container *ngIf="col.isChildren && col.isParentVisible">
                            <th [attr.data-parent-id]="col.parent" [attr.colspan]="col.colspan" ttResizableColumn
                                class="parent-header"
                                [ngStyle]="{'width': col.parentWidth || 'auto', 'height': '50px' }">
                                <span>{{ col.header }}</span>
                                <i class='pi pi-fw pi-chevron-right icon-contracted'
                                    *ngIf="!innerLoading && col.isChildren && col.isicon == 1 && col.isToggle"
                                    (click)="toggleColumn(col.parent , 'close')"></i>
                                <i class='pi pi-fw pi-chevron-left icon-expanded'
                                    *ngIf="!innerLoading && col.isChildren && col.isicon == 0 && col.isToggle"
                                    (click)="toggleColumn(col.parent , 'open')"></i>
                            </th>
                        </ng-container>
                    </ng-container>
                </tr>

                <tr class="header-row p-treetable-thead-child">
                    <ng-container *ngFor="let col of columns">
                        <ng-container>
                            <th ttResizableColumn ttReorderableColumn (click)="OrderBy(col.field  )"
                                class="child-header" [ngStyle]="{'width': col.width || 'auto', 'height': '50px' }">
                                {{ col.childHeader }}
                                <i class='pi pi-arrow-up' *ngIf="col.sorting === 'asc'"></i>
                                <i class='pi pi-arrow-down' *ngIf="col.sorting === 'desc'"></i>
                            </th>
                        </ng-container>
                    </ng-container>
                </tr>

                <tr class="header-row p-treetable-thead-filter">
                    <ng-container *ngFor="let col of columns">
                        <ng-container>
                            <th class="child-header" [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">
                                <input type="text" [(ngModel)]="col.valuesset" [disabled]="col.isenable" pInputText
                                    size="8" *ngIf="col.type === 'text'" (input)="filerOutSide($event, col)"
                                    style="width: auto" />

                                <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="col.valuesset" [disabled]="col.isenable"
                                    pInputText size="8" *ngIf="col.type === 'numberFilter'"
                                    (input)="filerOutSide($event, col)" style="width: auto" />

                                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender-grid"
                                    [disabled]="col.isenable" (ngModelChange)="filerOutSide($event, col)"
                                    *ngIf="col.type === 'dateFilter' && !col.isenable" [(ngModel)]="col.valuesset"
                                    placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true">
                                </p-calendar>

                                <input type="text" *ngIf="col.type === 'dateFilter' && col.isenable"
                                    [(ngModel)]="col.valuesset" [disabled]="col.isenable" pInputText size="8"
                                    style="width: auto" />

                                <button type="text" pButton icon="pi pi-filter-icon pi-filter icon-filter"
                                    (click)="openContextMenu($event,col )"></button>
                            </th>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr class="body-row" (dblclick)="onRowDoubleClick(rowData)">
                    <ng-container *ngFor="let col of columns;  let i = index">
                        <ng-container>
                            <td [(selection)]="selectedNode"
                                (contextmenu)="showContextMenu($event, contextMenu , rowData[col.field])" class="cell"
                                [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">

                                <p-treeTableToggler [rowNode]="rowNode" [ngClass]="{'disabled': innerLoading}"
                                    *ngIf="i === 0 && ( rowNode.node?.leaf === false || rowNode.parent != null )"></p-treeTableToggler>
                                <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"
                                    (click)="onCheckboxChange(rowNode)"></p-treeTableCheckbox> <!--  -->

                                <ng-container [ngSwitch]="col.type">
                                    <span *ngSwitchCase="'dateFilter'">{{ rowData[col.field] | date:
                                        'MM/dd/yyyy' }}</span>
                                    <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                </ng-container>
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>

                <tr class="body-row"
                    *ngIf="(innerLoading && expandedNode?.data.ChargeCodeId === rowNode.node.data.ChargeCodeId ) || (isApiAlerdayCall && lastNode?.data.ChargeCodeId === rowNode.node.data.ChargeCodeId)">
                    <td class="cell">
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td class="cell" [attr.colspan]="columns.length">
                        <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
                        <span *ngIf="!loading && totalRecords === 0">
                            No Record Found
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
        <!-- custome-sidebar -->
        <div class="custome-side-buttons">
            <div class="custome-side-button" [ngClass]="{'active-border': sidebarVisible }">
                <!-- vericaltext -->
                <a class="custom-side-button-button ag-icon ag-icon-columns" (click)="openSidebar()">
                    <!-- <i class="fa fa-check"></i>  -->
                    Columns</a>
            </div>
        </div>

        <div class="sidebar" *ngIf="sidebarVisible">
            <div class="sidebar-content">
                <p-tree [value]="filesColumns" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)"
                    (onNodeUnselect)="nodeUnselect($event)" [(selection)]="selectedFiles"> </p-tree>
            </div>
        </div>
        <p-contextMenu
            [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}"
            #contextMenu [model]="items"></p-contextMenu>

    </mat-expansion-panel>
</mat-accordion>

<p-dialog [(visible)]="displayModal" modal="true" [closable]="true" [draggable]="false" [resizable]="false"
    [dismissableMask]="true" [header]="''" #treeTable
    [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption1" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>

            </div>
        </div>

        <div class="row" *ngIf="fieldsName?.type === 'text' ">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                    (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1" placeholder="mm-dd-yyyy"
                    appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <!-- First In Range -->
        <div *ngIf="selectedOption1 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text' ">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                        (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1_1"
                        placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
                </div>
            </div>
        </div>

        <!-- First In Range Over -->
        <div class="row my-1" *ngIf="displayModal1">
            <div class="col-md-12 d-flex justify-content-center condition-label">
                <label *ngFor="let radiobutton of radioItems">
                    <input type="radio" name="options" (click)="model.option = radiobutton"
                        [checked]="radiobutton === model.option" />{{ radiobutton }}
                </label>
            </div>
        </div>

        <div class="row" *ngIf="displayModal1">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption2" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>
            </div>
        </div>

        <!-- -------------- -->

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'text'  ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text" OnlyNumber [allowNegative]="true"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2"
                placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <!-- Second In Range -->
        <div *ngIf="displayModal1 && selectedOption2 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text'">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2_1" placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true">
                    </p-calendar>
                </div>
            </div>
        </div>
        <!-- Second In Range Over -->
        <!-- -------------- -->



        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="text" class="btn btn-primary btn-sm" pButton (click)="onFilterChangedValue()">
                    Apply
                </button>
            </div>
        </div>
    </div>
</p-dialog>