<div class="row">
    <div class="col-sm-12">
        <mat-card class="">
            <mat-card-content>
                <div class="row">
                    <div class="col-12 top-btn-group-container header-btn-responsive d-flex" style="flex-wrap: wrap;">
                        <ng-container>
                            <button class="btn btn-primary" type="button"><i class="fas fa-file-invoice-dollar"> </i>
                                Invoices
                            </button>
                        </ng-container>
                        <ng-container *ngIf="isShowHeader">
                            <select class="custom-select select-width" [(ngModel)]="selectedPeroid" [disabled]="selectedTab !== 0"
                                (change)="onChangePeroid($event)" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let tem of billingPeroid" [value]="tem.MonthYear"
                                    >
                                    {{tem.MonthYear}}
                                </option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="isShowHeader && !temRoles">
                            <select class="custom-select select-width" [(ngModel)]="selectedTem" [disabled]="selectedTab !== 0"
                                (change)="onChangeTem($event)" [ngModelOptions]="{standalone: true}">
                                <option value="all" [disabled]="this.locationService.isDisableTemDD()">All</option>
                                <option *ngFor="let tem of tems" [value]="tem.Id"
                                    [disabled]="this.locationService.isDisableTemDD()">
                                    {{tem.AccountName}}
                                </option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="isShowHeader">
                            <button title="Search" class="btn btn-primary" [disabled]="selectedTab !== 0"
                                (click)="filterGridBySearch()">Search</button>
                        </ng-container>

                        <ng-container *ngIf="selectedTab !== 0">
                            <div class="p-steps-main invoice-ret-edit">
                                <p-steps [model]="items" [readonly]="false"></p-steps>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="main-banner-section">
                    <div class="table-responsive">

                        <div class="demo2 main">
                            <nav mat-tab-nav-bar>
                                <a (click)="clickToTab(0)" mat-tab-link [active]="selectedTab === 0"
                                    style="color: unset;"><b><i class="fas fa-file-invoice-dollar"
                                            style="color: #4680ff;">
                                        </i><span>&nbsp;Invoices</span></b></a>
                                <a (click)="clickToTab(1)" *ngIf="selectedTab !== 0" mat-tab-link
                                    [active]="selectedTab === 1" style="color: unset;"><b><i class="fa fa-thumb-tack"
                                            style="color: #4680ff;">
                                        </i><span>&nbsp;Invoice Summary {{invoicerowData?.InvoiceNumber}}</span></b></a>
                                <a (click)="clickToTab(2)" *ngIf="selectedTab !== 0" mat-tab-link
                                    [active]="selectedTab === 2" style="color: unset;"><b><i class="fas fa-users"
                                            style="color: #4680ff;">
                                        </i><span>&nbsp;All Distributions
                                            {{invoicerowData?.InvoiceNumber}}</span></b></a>
                                <a (click)="clickToTab(3)" *ngIf="selectedTab !== 0" mat-tab-link
                                    [active]="selectedTab === 3" style="color: unset;"><b><i
                                            class="icon-size fas fa-file-invoice-dollar"
                                            style="color: #4680ff;"></i><span>&nbsp;All Allocations
                                            {{invoicerowData?.InvoiceNumber}}</span></b></a>
                            </nav>
                            <div class="demo" *ngIf="selectedTab === 0">
                                <div class="row btn-group-list1 d-flex align-items-center px-0 mx-0">

                                    <button [ngClass]="{'disabled': isDisabledExport}" title="Export" type="button"
                                        class=" btn btn-icon btn-outline-success"
                                        (click)="!isDisabledExport ? onBtnExportDataAsExcel() : ''">
                                        <i class="{{isDisabledExport ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}} "></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab === 0">

                            <div class="col-sm-12 col-xl-12 px-0" style="margin-top: 10px;">
                                <mat-accordion class="example-headers-align invoice-main-grid-accordion">
                                    <mat-expansion-panel style="width: 100%;" [expanded]="true" [disabled]="true">
                                        <button type="button" class="fas fa-check c-refresh-speed" title="Refresh"
                                            (click)="onAgGridReady(this.gridApi.api ? this.gridApi.api : this.gridApi)"></button>
                                        <mat-expansion-panel-header class="math">
                                            <mat-panel-title class="matt font-weight-bold">
                                                <i class="fas fa-file-invoice-dollar"></i>&nbsp;Invoices
                                            </mat-panel-title>
                                            <i class="fas fa-info-circle" (click)="openDialog()"></i>
                                            <ng-template #tooltipText>
                                                <div class="mat-dialog-header pb-2">

                                                    <div>
                                                        <h5 class="modal-title" id="exampleModalLabel">Importance of
                                                            Invoice Charge Values</h5>
                                                    </div>

                                                    <button type="button" class="close" mat-dialog-close>
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="text-left charge-location-tooltip mt-3">
                                                    <p class="mb-2">When processing invoices, it’s essential to
                                                        understand the
                                                        <b>Total Current Charges</b> in detail, as it reflects the
                                                        current cost of the services you purchase and provides insights
                                                        into how your spending is changing over time. Equally critical
                                                        is the <b>Amount to Pay</b>, which the system determines based
                                                        on the following factors:
                                                    </p>
                                                    <ul style="list-style-type: decimal; font-size: 13px;"
                                                        class="mb-2 pl-4">
                                                        <li class="mb-2"><strong>Past Due Balance:</strong> Any
                                                            outstanding balance that may need to be paid (if approved to
                                                            pay)
                                                        </li>
                                                        <li class="mb-2"><strong>Adjustments:</strong> Applied to the
                                                            account to account for prior discrepancies or charges </li>
                                                        <li class="mb-2"><strong>Current Account-Level Charges:</strong>
                                                            Charges not associated with specific services but tied to
                                                            the overall account </li>
                                                        <li><strong>Current Service-Level Charges:</strong> Charges
                                                            specific to individual services</li>
                                                    </ul>
                                                    <p class="mb-2">The system then compares the vendor provided value
                                                        <b>Total
                                                            Amount
                                                            Due</b> from the invoice with the <b>Total Current
                                                            Charges</b> and selects
                                                        the lesser of the two values. If this amount is less than 0, the
                                                        <b>Amount to Pay</b> is set to 0.
                                                    </p>

                                                    <p class="mb-2"> This calculation ensures that payments consider all
                                                        applied
                                                        credits, carried-forward balances, and any past-due obligations.
                                                        By doing so, the system prevents overpayment, avoids carrying
                                                        credits forward unnecessarily, and ensures older balances are
                                                        resolved efficiently. </p>
                                                    <ul style="list-style-type: none; font-size: 13px; display: grid; gap: 8px;"
                                                        class="m-0 p-0">
                                                        <li><b>Total Current Charges:</b> The total of all account-level
                                                            charges and adjustments, combined with all service-level
                                                            charges
                                                            listed on the invoice.</li>

                                                        <li><b>Amount to Pay:</b> The system determines this value by
                                                            selecting the lesser of <b>Total Current Charges</b> or
                                                            <b>Total
                                                                Amount Due</b>. If the resulting value is less than 0,
                                                            the
                                                            <b>Amount to Pay</b> will default to 0.
                                                        </li>

                                                        <li><b>Previous Charges:</b> The <b>Total Current Charges</b>
                                                            from the
                                                            previous invoice period.</li>

                                                        <li> <b>Difference Fields:</b> Calculated by comparing the
                                                            <b>Total
                                                                Current
                                                                Charges</b> with the <b>Previous Charges</b>.
                                                        </li>

                                                        <li><b>Past Due:</b> The outstanding balance for the account, as
                                                            specified
                                                            by the Vendor on the invoice.</li>

                                                        <li><b>Pay Past Due:</b> If the Past Due Balance is included in
                                                            the
                                                            invoice
                                                            for payment, the <b>Total Current Charges</b> and <b>Amount
                                                                to
                                                                Pay</b> will be
                                                            adjusted to incorporate the Past Due Balance. This amount
                                                            will
                                                            be distributed across all services on the invoice. Selecting
                                                            "Yes" indicates that the Past Due Balance has been added to
                                                            the
                                                            <b>Total Current Charges</b>.
                                                        </li>

                                                        <li><b>Last Payment:</b> The most recent payment, as specified
                                                            by
                                                            the
                                                            Vendor on the invoice.</li>

                                                        <li><b>% Allocation:</b> If Cost Allocation is enabled, this
                                                            represents the
                                                            percentage of charges on the invoice assigned to cost
                                                            centers. –
                                                            indicates Cost Allocation is not enabled.
                                                        </li>
                                                    </ul>

                                                </div>
                                            </ng-template>
                                        </mat-expansion-panel-header>
                                        <div class="toggle-btn" *ngIf="isSuperTem || isTemUser">
                                            <mat-slide-toggle (change)="filterGridBySearch()"
                                                [(ngModel)]="isFilterData">{{isFilterData ? 'All Records' : 'My Records'}}</mat-slide-toggle>
                                        </div>
                                        <div class="">
                                            <div class="col-sm-12 mb-15 px-0 ">
                                                <div class="main-banner-section main-grid-height">

                                                    <app-ag-grid-table [sideBar]="sideBar" [singleClickEdit]="true"
                                                        [columnDefs]="columnDefs" [rowData]="rowData" [modules]="modules"
                                                        [gridOptions]="gridOptions" [defaultColDef]="defaultColDef"
                                                        (onCellDoubleClickedEvent)="onCellDoubleClicked($event)"
                                                        [getDataPath]="getDataPath"
                                                        (onAgGridReady)="onAgGridReady($event)"
                                                        (onAgGridReadyEmit)="onAgGridReadyEmit($event)"
                                                        [exportFilename]="'Invoices.xlsx'" [sheetName]="'Invoices'">

                                                    </app-ag-grid-table>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="text-right mt-2 mr-3">
                                                <span>
                                                    {{invoiceDataCount}} {{invoiceDataCount > 1 ? 'records' : 'record'}}
                                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div *ngIf="selectedTab === 1">

                            <div class="table-responsive">
                                <div class="demo2 sub">
                                    <nav mat-tab-nav-bar>
                                        <a [active]="selectedTabChildren === 0" (click)="clickToSubTab(0)" mat-tab-link
                                            style="color: unset;"><b><i class="fa fa-thumb-tack"
                                                    style="color: #4680ff;">
                                                </i><span>&nbsp;Invoice Summary
                                                </span></b></a>
                                        <a [active]="selectedTabChildren === 1" (click)="clickToSubTab(1)" mat-tab-link
                                            style="color: unset;">
                                            <b><i class="fas fa-sticky-note" style="color: #4680ff;">
                                                </i><span>&nbsp;Invoice Notes {{invoicerowData?.InvoiceNumber}}
                                                </span></b>
                                        </a>
                                    </nav>
                                    <div class="demo">
                                        <div *ngIf="selectedTabChildren === 0"
                                            class="row btn-group-list1 d-flex align-items-center px-0 mx-0">

                                            <div>
                                                <button type="button"
                                                    class="btn btn-icon btn-outline-primary right-btn-position select-action-button m-r-8"
                                                    [placement]="'left'" [popoverTitle]="'Select an Action'"
                                                    [ngbPopover]="htmlContent1" [disabled]="!isInvoiceSummaryLoading"
                                                    popoverClass="cost-center-tooltip custom-tooltip right-btn-position">
                                                    <i class="fas fa-plus"></i></button>
                                            </div>
                                            <ng-template #htmlContent1>
                                                <div class="text-left">
                                                    <div>
                                                        <ul class="d-block mb-0" style="padding-left: 5px;">
                                                            <span class="inner-option" (click)="addInvoiceSummary()">
                                                                <a> <i class="fas fa-angle-right"></i>
                                                                    Add Distribution</a> </span><br>

                                                            <span class="inner-option"
                                                                (click)="addInvoiceNoteFromSummary()">
                                                                <a> <i class="fas fa-angle-right"></i> Add Invoice
                                                                    Note</a>
                                                            </span>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                        <div *ngIf="selectedTabChildren === 1">

                                            <button type="button"
                                                class="btn btn-icon btn-outline-primary right-btn-position select-action-button m-r-8"
                                                (click)="AddInvoiceNote()" title="Add Invoice Note">
                                                <i class="fas fa-plus"></i></button>

                                                    <button [ngClass]="{'disabled': isDisabledExportNoteVar || !isInvoiceNoteExistVar}" title="Export" type="button"
                                                        class=" btn btn-icon btn-outline-success"
                                                        (click)="!isDisabledExportNoteVar ? exportNotes() : ''">
                                                        <i class="{{isDisabledExportNoteVar ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}} "></i>
                                                    </button>
                                        </div>

                                    </div>


                                </div>

                                <div *ngIf="selectedTabChildren === 0">
                                    <app-finance-invoice-summary [gridRowData]="invoicerowData"
                                        [recordPublishedOrCompleted]="recordPublishedOrCompleted"
                                        (redirectTab)="redirectTab($event)"
                                        (onExportDisableEvent)="onExportDisableEvent($event)"
                                        (onRowDataLength)="onRowDataLength($event)"
                                        (invoiceOverviewDataOutput)="invoiceOverviewDataOutput($event)"
                                        (stopSpinnerEvent)="stopSpinnerEvent($event)"></app-finance-invoice-summary>
                                </div>

                                <div *ngIf="selectedTabChildren === 1">
                                    <app-invoice-notes [gridRowData]="invoicerowData" (exportData)="exportData($event)"
                                    (isDisabledExport)="isDisabledExportNote($event)" (isInventoryNoteExist)="isInventoryNoteExist($event)"
                                        (invoiceOverviewDataOutput)="invoiceOverviewDataOutput($event)"></app-invoice-notes>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab === 2">
                            <div class="table-responsive">
                                <div class="demo2 sub">
                                    <nav mat-tab-nav-bar>
                                        <a [active]="selectedTabChildrenDist === 0" (click)="clickToSubTabDist(0)"
                                            mat-tab-link style="color: unset;"><b><i class="fa fa-check"
                                                    style="color: #4680ff;">
                                                </i><span>&nbsp;Distribution Event A</span></b></a>
                                        <a [active]="selectedTabChildrenDist === 1" (click)="clickToSubTabDist(1)"
                                            mat-tab-link style="color: unset;">
                                            <b> <img src="../../../../../../assets/images/Invoices-B-acco-icon.svg"
                                                    alt="New Distribution B Image"><span>&nbsp;New
                                                    Distribution B</span></b>
                                        </a>
                                        <a [disabled]="selectedTabChildrenDist !== 2"
                                            [active]="selectedTabChildrenDist === 2" (click)="clickToSubTabDist(2)"
                                            mat-tab-link style="color: unset;">
                                            <b><img src="../../../../../../assets/images/wand-magic-sparkles.svg"
                                                    alt="Distribution Rules Engine C Image"><span>&nbsp;Distribution
                                                    Rules Engine C</span></b>
                                        </a>
                                        <a [disabled]="selectedTabChildrenDist !== 3"
                                            [active]="selectedTabChildrenDist === 3" (click)="clickToSubTabDist(3)"
                                            mat-tab-link style="color: unset;">
                                            <b><img src="../../../../../../../assets/images/sandbox-icon/Final-Distribution-Detail-5B-blue.svg"
                                                    alt="Distribution Detail D Image"><span>&nbsp;Distribution
                                                    Detail D</span></b>
                                        </a>
                                    </nav>
                                    <div class="demo">
                                        <div *ngIf="selectedTabChildrenDist === 0"
                                            class="row btn-group-list1 d-flex align-items-center px-0 mx-0">
                                            <button *ngIf="isRerunAccess" type="button"
                                                class="btn btn-outline fas fa-check fa-sharp-duotone fa-solid fa-hat-wizard mr-2"
                                                title="Reprocess Invoice" (click)="refresh()"></button>
                                            <button (click)="addDistribution()" title="Add Distribution" type="button"
                                                class="btn btn-icon btn-outline-primary"><i
                                                    class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="selectedTabChildrenDist === 0">
                                    <app-invoice-main (redirectTab)="redirectTab($event)" [fromTab]="'invoice'"
                                        [refeshGrid]="refeshGrid" (refeshGridOutput)="refeshGridOutput($event)"
                                        (isDistributionCompleted)="isDistributionCompleted($event)"
                                        [gridRowData]="invoicerowData"></app-invoice-main>
                                </div>
                                <div *ngIf="selectedTabChildrenDist === 1">
                                    <app-new-distribution-invoice (redirectTab)="redirectTab($event)"
                                        [gridRowData]="invoicerowData"></app-new-distribution-invoice>
                                </div>
                                <div *ngIf="selectedTabChildrenDist === 2">
                                    <app-distribution-engine-c-i [clickedRecord]="clickedRowData"
                                        [overViewData]="overViewData" (redirectTab)="redirectTab($event)"
                                        [gridRowData]="invoicerowData"
                                        [isForEditDistribution]="isForEditDistribution"></app-distribution-engine-c-i>
                                </div>
                                <div *ngIf="selectedTabChildrenDist === 3">
                                    <app-distribution-detail-d-i [gridRowData]="invoicerowData"
                                        (redirectTab)="redirectTab($event)"
                                        [clickedRecord]="clickedRowData"></app-distribution-detail-d-i>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedTab === 3">
                            <div class="table-responsive">
                                <div class="demo2 sub">
                                    <nav mat-tab-nav-bar>
                                        <a [active]="selectedTabChildrenAllow === 0" (click)="clickToSubTabAllow(0)"
                                            mat-tab-link style="color: unset;"><b><i class="fas fa-file-invoice-dollar"
                                                    style="color: #4680ff;">
                                                </i><span>&nbsp;All Allocations by Product

                                                </span></b></a>
                                        <a [active]="selectedTabChildrenAllow === 1" (click)="clickToSubTabAllow(1)"
                                            mat-tab-link style="color: unset;">
                                            <b><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="23px"
                                                    viewBox="0 0 211.000000 175.000000"
                                                    preserveAspectRatio="xMidYMid meet">

                                                    <g transform="translate(0.000000,175.000000) scale(0.100000,-0.100000)"
                                                        fill="#4680ff" stroke="none">
                                                        <path d="M190 1669 c-52 -16 -95 -53 -119 -103 -21 -42 -22 -56 -19 -299 l3
                                                       -255 30 -43 c57 -80 74 -84 360 -84 286 0 303 4 360 84 l30 43 0 268 0 268
                                                       -30 43 c-56 79 -76 84 -345 86 -138 1 -250 -2 -270 -8z m529 -59 c27 -13 46
                                                       -33 60 -63 19 -40 21 -60 21 -267 0 -207 -2 -227 -21 -267 -38 -78 -59 -83
                                                       -334 -83 -275 0 -296 5 -334 83 -19 40 -21 60 -21 267 0 207 2 227 21 267 37
                                                       77 56 82 332 83 217 0 241 -2 276 -20z" />
                                                        <path d="M324 1471 c-11 -5 -33 -23 -47 -41 -26 -30 -27 -36 -27 -151 l0 -119
                                                       34 -38 34 -37 127 0 127 0 34 37 34 38 0 120 0 120 -34 38 -34 37 -114 2 c-62
                                                       2 -122 -1 -134 -6z m251 -66 c23 -22 25 -31 25 -125 0 -94 -2 -103 -25 -125
                                                       -23 -23 -31 -25 -130 -25 -99 0 -107 2 -130 25 -23 22 -25 31 -25 125 0 94 2
                                                       103 25 125 23 23 31 25 130 25 99 0 107 -2 130 -25z" />
                                                        <path d="M950 1356 l0 -26 215 0 c195 0 220 -2 254 -20 62 -31 81 -82 81 -218
                                                       0 -107 1 -112 21 -112 20 0 20 4 17 134 -3 131 -4 135 -33 177 -55 77 -78 84
                                                       -332 87 l-223 3 0 -25z" />
                                                        <path d="M1390 869 c-52 -16 -95 -53 -119 -103 -21 -42 -22 -56 -19 -299 l3
                                                       -255 30 -43 c57 -80 74 -84 360 -84 286 0 303 4 360 84 l30 43 0 268 0 268
                                                       -30 43 c-56 79 -76 84 -345 86 -138 1 -250 -2 -270 -8z m529 -59 c27 -13 46
                                                       -33 60 -63 19 -40 21 -60 21 -267 0 -207 -2 -227 -21 -267 -38 -78 -59 -83
                                                       -334 -83 -275 0 -296 5 -334 83 -19 40 -21 60 -21 267 0 207 2 227 21 267 37
                                                       77 56 82 332 83 217 0 241 -2 276 -20z" />
                                                        <path d="M1524 671 c-11 -5 -33 -23 -47 -41 -26 -30 -27 -36 -27 -151 l0 -119
                                                       34 -38 34 -37 127 0 127 0 34 37 34 38 0 120 0 120 -34 38 -34 37 -114 2 c-62
                                                       2 -122 -1 -134 -6z m251 -66 c23 -22 25 -31 25 -125 0 -94 -2 -103 -25 -125
                                                       -23 -23 -31 -25 -130 -25 -99 0 -107 2 -130 25 -23 22 -25 31 -25 125 0 94 2
                                                       103 25 125 23 23 31 25 130 25 99 0 107 -2 130 -25z" />
                                                        <path d="M552 646 c3 -131 4 -135 33 -177 55 -77 78 -84 333 -87 l222 -3 0 25
                                                       0 26 -215 0 c-195 0 -220 2 -254 20 -62 31 -81 82 -81 218 0 107 -1 112 -21
                                                       112 -20 0 -20 -4 -17 -134z" />
                                                    </g>
                                                </svg><span>&nbsp;All Allocations by Structure
                                                </span></b>
                                        </a>
                                        <a [disabled]="selectedTabChildrenAllow !== 2"
                                            [active]="selectedTabChildrenAllow === 2" (click)="clickToSubTabAllow(2)"
                                            mat-tab-link style="color: unset;">
                                            <b><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="23px"
                                                    viewBox="0 0 203.000000 122.000000"
                                                    preserveAspectRatio="xMidYMid meet">

                                                    <g transform="translate(0.000000,122.000000) scale(0.100000,-0.100000)"
                                                        fill="#4680ff" stroke="none">
                                                        <path d="M637 1203 c-28 -7 -47 -60 -35 -96 14 -39 42 -47 174 -47 l114 0 0
                                           -50 0 -49 -261 -3 -261 -3 -24 -28 c-22 -26 -24 -36 -24 -138 l0 -109 -80 0
                                           -80 0 0 130 c0 117 -2 132 -20 150 -11 11 -33 20 -50 20 -17 0 -39 -9 -50 -20
                                           -19 -19 -20 -33 -20 -350 0 -317 1 -331 20 -350 26 -26 74 -26 100 0 18 18 20
                                           33 20 150 l0 130 80 0 80 0 0 -134 c0 -128 1 -136 24 -163 23 -26 29 -28 120
                                           -31 l96 -4 65 -79 c100 -121 71 -114 485 -114 341 0 357 1 395 21 22 11 54 40
                                           70 63 l30 43 3 279 c4 343 7 331 -127 442 -52 44 -106 80 -128 86 -21 6 -100
                                           11 -175 11 l-138 0 0 50 0 50 113 0 c61 0 123 3 136 7 54 14 57 114 4 134 -24
                                           9 -621 11 -656 2z m46 -517 c48 -44 48 -108 0 -152 -36 -33 -100 -33 -136 0
                                           -71 66 -29 176 68 176 31 0 49 -7 68 -24z m300 0 c48 -44 48 -108 0 -152 -36
                                           -33 -100 -33 -136 0 -71 66 -29 176 68 176 31 0 49 -7 68 -24z m300 0 c48 -44
                                           48 -108 0 -152 -36 -33 -100 -33 -136 0 -71 66 -29 176 68 176 31 0 49 -7 68
                                           -24z" />
                                                        <path d="M1774 801 c-53 -23 -54 -29 -54 -393 l0 -337 24 -28 c23 -27 27 -28
                                           121 -28 94 0 98 1 121 28 l24 28 0 339 0 339 -24 28 c-23 26 -30 28 -108 30
                                           -45 2 -93 -1 -104 -6z" />
                                                    </g>
                                                </svg><span>&nbsp;Cost Center Structure Rules Engine
                                                </span></b>
                                        </a>
                                    </nav>
                                    <div class="demo">
                                        <div *ngIf="selectedTabChildrenAllow === 0" class="d-flex">
                                            <button *ngIf="isRerunAccess" type="button"
                                                class="btn btn-outline fas fa-check fa-sharp-duotone fa-solid fa-hat-wizard mr-2"
                                                title="Reprocess Invoice" (click)="allocationType('rerun')"></button>
                                            <button [ngClass]="{'disabled': isDisableExportAllocation}" title="Export" type="button"
                                                        class=" btn btn-icon btn-outline-success"
                                                        (click)="!isDisableExportAllocation ? allocationType('export') : ''">
                                                        <i class="{{isDisableExportAllocation ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}} "></i>
                                            </button>
                                        </div>
                                        <div *ngIf="selectedTabChildrenAllow === 1">
                                            <button [ngClass]="{'disabled': isccsDataExport || !isccsDataExist}" title="Export" type="button"
                                                        class=" btn btn-icon btn-outline-success"
                                                        (click)="!isccsDataExport ? costAllocationStructureExport() : ''">
                                                <i class="{{isccsDataExport ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}} "></i>
                                            </button>
                                        </div>

                                        <div *ngIf="selectedTabChildrenAllow === 2">
                                            <button type="button" title="Add Rule" class="btn btn-icon btn-outline-primary"
                                                (click)="addRuleClicked()"> <i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="selectedTabChildrenAllow === 0">
                                    <app-allocations-by-product [fromTab]="'invoice'" [gridRowData]="invoicerowData"
                                        (resetVariable)="resetVariables($event)" [showFinished]="true" [selectedTab]="selectedTab"
                                        (isRecordFinished)="isRecordFinished($event)"
                                        (redirectToRuleTab)="redirectToRuleTab($event)"
                                        (onExportDisableEvent)="onExportDisableAllocation($event)"
                                        (redirectAllocationTab)="redirectAllocationTab($event)"
                                        [allocationType]="allocationTypeValue"></app-allocations-by-product>
                                </div>
                                <div *ngIf="selectedTabChildrenAllow === 1">
                                    <app-allocations-by-structure [gridRowData]="invoicerowData"
                                        (isCCSDataExits)="CCSDataExist($event)"
                                        (exportCCSExcelData)="exportCCSExcelData($event)"></app-allocations-by-structure>
                                </div>
                                <div *ngIf=" selectedTabChildrenAllow===2">
                                    <app-cost-center-structure-engine [editRecord]="editRecord"
                                        [isAddClicked]="isAddClicked" (addClicked)="addClickedEmit($event)"
                                        (redirectAllocationTab)="redirectAllocationTab($event)"
                                        [gridRowData]="invoicerowData"
                                        [fromEditIcon]="true"></app-cost-center-structure-engine>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>