<div class="row">
    <div class="col-sm-12 px-0">
        <mat-card>
            <mat-card-content>
                <app-header-section [buttonOptions]="buttonOptions" [selectedButton]="selectedButton"
                    [TemDDArray]="TemDDArray" [currentIndex]="selectedTab" [temRoles]="temRoles"
                    [selectedTem]="selectedTem" [customers]="customers" [tems]="tems"
                    [disableTemSearch]="disableTemSearch" [loaderParent]="loaderParent"
                    [currentOpenEditPagevar]="currentOpenEditPagevar" [isDisabledExport]="isDisabledExport"
                    [tableDataExist]="tableDataExist" [trackByIndex]="trackByIndex"
                    (customerChange)="onCustomerChange($event)" (buttonClick)="onButtonClick($event)"
                    (temChange)="onTemChange($event)" [disablePlusOptions]="disablePlusOptions"
                    (filterGridByTEMId)="getAllContracts()" (exportDataAsExcel)="contractExport()"
                    (replaceContract)="ReplaceContract()" (add)="addNewContract('New')" [currentTabName]="currentTabName"
                    [selectedChild]="selectedChild" [customersDD]="true" (addAddendum)="AddAdemdum()"
                    [showAddButton]="variableManageService.mobilityWhichPageEnabled === 'Edit' && selectedChild === 0"
                    [showLinkInventory]="variableManageService.mobilityWhichPageEnabled === 'Edit' && (selectedChild === 1 || opentabsFromInventory_Inventory)"
                    [disabledLinkInventory]="isDisablLinkInventory"
                    (LinkInventoryCDialog)="LinkInventoryCDialog()"
                    [addbuttonCondition]="selectedTab === 0"></app-header-section>
                <div class="main-banner-section">
                    <div class="table-responsive">
                        <div class="demo2 main">
                            <nav mat-tab-nav-bar>
                                <span (click)="changeParentTab(0)" mat-tab-link [active]="selectedTab === 0"
                                    style="color: unset;">
                                    <img src="../../../../../../assets/images/Contract/fa-solid-fa-file-lock.svg"
                                        alt="Contracts Image">
                                    <span class="mat-tab-list-title">&nbsp;Contracts</span>
                                </span>

                                
                                <span style="display: table-cell !important;" *ngIf="tabsMainArray.length > 0">
                                    <span style="display: table-cell !important;"
                                        *ngFor="let tab of tabsMainArray;let i = index">
                                        <span *ngIf="tab.tabType=='New'" (click)="changeParentTab(i+1)" mat-tab-link
                                            [active]="(i+1) === selectedTab">
                                            <img src="../../../../../../assets/images/Contract/fa-solid-fa-file-lock.svg"
                                                alt="Contracts Image">&nbsp;
                                            Add Contract&nbsp;
                                            <mat-icon (click)="removeTab(i)">cancel</mat-icon>
                                        </span>

                                        <span *ngIf="tab.tabType=='Edit'" (click)="changeParentTab(i+1)"
                                            [active]="(i+1) === selectedTab" mat-tab-link>
                                            <i class="fas fa-edit" style="color: #4680ff;"></i>&nbsp;
                                            <ng-container *ngIf="tab?.parentServiceID">
                                                {{tab.parentServiceID}}&nbsp;
                                                <i class="fas fa-angle-right"></i>&nbsp;
                                            </ng-container>
                                            {{ tab?.rowData?.DocumentName ? tab?.rowData?.DocumentName :
                                            tab?.rowData?.DocumentName ? tab?.rowData?.DocumentName :
                                            (tab?.rowData?.data?.DocumentName) ? tab?.rowData?.data?.DocumentName :
                                            'Contract'}}&nbsp;
                                            <mat-icon (click)="removeTab(i)">cancel</mat-icon>
                                        </span>
                                    </span>
                                </span>
                            </nav>
                        </div>

                        <div class="row mt-2" *ngIf="selectedTab === 0">
                            <div class="col-sm-12 px-0">
                                <mat-accordion class="example-headers-align accordion-grid">
                                    <mat-expansion-panel class="custom-panel border" [expanded]="true" [hideToggle]="true" [disabled]="true">

                                        <mat-expansion-panel-header class="custom-header">
                                            <div class="header-content">
                                                <svg [ngClass]="{'disabled': loader}" class="pc-icon text-primary circle-icon" (click)="refreshbuttonEmitFn(true)">
                                                    <use xlink:href="assets/fonts/custom-icon.svg#refreshCircle"></use>
                                                </svg>
                                                <mat-panel-title class="panel-title">
                                                    <img src="../../../../../../assets/images/Contract/fa-solid-fa-file-lock.svg"
                                                    alt="Contracts Image">&nbsp;Contracts
                                                </mat-panel-title>
                                            </div>
                                        </mat-expansion-panel-header>
                                        
                                        <div class="">
                                            <div class="col-sm-12 mb-15 px-0 ">
                                                <div class="main-banner-section">

                                                    <ng-container>
                                                        <app-common-p-tree-table [refreshbutton]="refreshbutton"
                                                            [payload]="payload" [GridAPI]="GridAPI"
                                                            (tableDataExist)="tableDataExistFn($event)" [cols]="cols"
                                                            (exportAccountData)="exportAccountDataFn($event)"
                                                            (selectedRowsEmit)="selectedRowsEmitFn($event)"
                                                            (rowCellDoubleClicked)="rowCellDoubleClickedFn($event)"
                                                            (refreshbuttonEmit)="refreshbuttonEmitFn($event)"
                                                            (totalRecordsEmit)="totalRecordsEmitFn($event)"
                                                            (loaderEmit)="loaderEmitFn($event)" />
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>

                        <div *ngIf="selectedTab !== 0">
                            <span *ngFor="let tab of tabsMainArray;let i = index">
                                <div *ngIf="tab.tabType=='New' && selectedTab === i+1">
                                    <app-add-edit-contracts [action]="tab.tabType"
                                        (closeAddContractTab)="closeAddContractTab($event, i)"
                                        (onContractDetail)="onContractDetail($event)"
                                        (onContractAddEvent)="onContractAddEvent($event, i)"></app-add-edit-contracts>
                                </div>

                                <div *ngIf="tab.tabType=='Edit' && selectedTab === i+1">
                                    <div class="demo2 main">
                                        <nav mat-tab-nav-bar>
                                            <span (click)="childrenChange(0)" mat-tab-link style="color: unset;"
                                                [active]="selectedChild === 0">
                                                <img src="../../../../../../assets/images/Contract/fa-solid-fa-file-lock.svg"
                                                    alt="Contracts Image">&nbsp;
                                                Contracts
                                            </span>
                                            <span (click)="childrenChange(1)" mat-tab-link style="color: unset;"
                                                [active]="selectedChild === 1">
                                                <i class="icon-size fas fa-tools" style="color: #4680ff;"></i>&nbsp;
                                                Inventory
                                            </span>

                                            <span *ngIf="isOpenWirelineTab" (click)="childrenChange(2)" mat-tab-link
                                                style="color: unset;" [active]="selectedChild === 2">
                                                <i class="icon-size fas fa-tools" style="color: #4680ff;"></i>&nbsp;
                                                {{inventoryData?.ServiceNumber}}&nbsp;
                                                <mat-icon (click)="removeWirelineTab('wireline')">cancel</mat-icon>
                                            </span>

                                            <span *ngIf="opentabsFromInventory_Contract" (click)="childrenChange(3)"
                                                mat-tab-link style="color: unset;" [active]="selectedChild === 3">
                                                <i class="icon-size fas fa-tools" style="color: #4680ff;"></i>&nbsp;
                                                Contract Details -
                                                {{editContractDataFromLinkedInventory?.Overview?.DocumentName}}&nbsp;
                                                <mat-icon (click)="removeWirelineTab('contract')">cancel</mat-icon>
                                            </span>

                                            <span *ngIf="opentabsFromInventory_Inventory" (click)="childrenChange(4)"
                                                mat-tab-link style="color: unset;" [active]="selectedChild === 4">
                                                <i class="icon-size fas fa-tools" style="color: #4680ff;"></i>&nbsp;
                                                Contract Inventory -
                                                {{editContractDataFromLinkedInventory?.Overview?.DocumentName}}&nbsp;
                                                <mat-icon (click)="removeWirelineTab('inventory')">cancel</mat-icon>
                                            </span>

                                            <span *ngFor="let tabb of tab['tabAddemArray'];let k = index" mat-tab-link
                                                style="color: unset;" [active]="(k+1) == selectedAddedm"
                                                (click)="selectedChild = null;clickToSelectedAdded(k+1)">
                                                <img src="../../../../../../assets/images/Contract/fa-solid-fa-file-lock.svg"
                                                    alt="Contracts Image">&nbsp;
                                                Add Addendum&nbsp;
                                                <mat-icon (click)="removeAddemTab(k)">cancel</mat-icon>
                                            </span>
                                        </nav>
                                    </div>

                                    <div *ngIf="tab.tabType=='Edit' && selectedChild === 0">
                                        <app-add-edit-contracts [action]="tab.tabType" [rowData]="tab.rowData.data"
                                            (onLoadEditContract)="onLoadEditContract($event)"
                                            (setCustomerDDValueEvent)="setCustomerDDValueEvent($event, i)"
                                            (onDisablePlusButton)="onDisablePlusButton($event)"
                                            (setTemDDValueEvent)="setTemDDValueEvent($event, i)"
                                            (onContractDetail)="onContractDetail($event)"
                                            (contractName)="contractName($event, i)"
                                            (onLoadEditContractFromInventory)="onLoadEditContractFromInventory($event, true, i)"></app-add-edit-contracts>
                                    </div>
                                    <div *ngIf="tab.tabType=='Edit' && selectedChild === 1">
                                        <app-inventory-c [action]="tab.tabType" [tabData]="tab.rowData.data"
                                            (onLoadContractInventory)="onLoadContractInventory($event)"
                                            (disableLinkDialog)="disableLinkDialog($event, 1)"
                                            (onCellDoubleClickedEventInventory)="onCellDoubleClickedEventInventory($event)"></app-inventory-c>
                                    </div>

                                    <div *ngIf="tab.tabType=='Edit' && selectedChild === 2">

                                        <div class="col-sm-12 px-0">
                                            <app-add-wireline [fromTab]="'Contract'" [action]="'Edit'"
                                                (redirectTab)="redirectTab($event)"
                                                [rowData]="inventoryData"></app-add-wireline>
                                        </div>
                                    </div>

                                    <div *ngIf="tab.tabType=='Edit' && selectedChild === 3">
                                        <app-add-edit-contracts [action]="tab.tabType" [rowData]="linkedData"
                                            (onLoadEditContract)="onLoadEditContract($event)" [fromInventory]="true"
                                            (onDisablePlusButton)="onDisablePlusButton($event)"
                                            (onContractDetail)="onContractDetail($event)"
                                            (onLoadEditContractFromInventory)="onLoadEditContractFromInventory($event)"></app-add-edit-contracts>
                                    </div>

                                    <div *ngIf="tab.tabType=='Edit' && selectedChild === 4">
                                        <app-inventory-c [action]="tab.tabType" [tabData]="linkedData"
                                            [fromTab]="'inventory-popup'"
                                            (onLoadContractInventory)="onLoadContractInventory($event)"
                                            (disableLinkDialog)="disableLinkDialog($event, 2)" [fromInventory]="true"
                                            (fromInventoryLinkDialog)="fromInventoryLinkDialog($event)"
                                            (onCellDoubleClickedEventInventory)="onCellDoubleClickedEventInventory($event)"></app-inventory-c>
                                    </div>

                                    <div
                                        *ngIf="tab.tabType =='Edit' && selectedChild == null && tab['tabAddemArray'].length > 0">
                                        <span *ngFor="let tabs of tab['tabAddemArray'];let k = index; ">
                                            <span *ngIf="selectedAddedm == k+1">
                                                <app-add-edit-contracts [action]="tabs.tabType" [gridData]="tab"
                                                    [index]="k+1" (closeAddAddmTab)="closeAddAddmTab($event, k)"
                                                    (onContractDetail)="onContractDetail($event)"></app-add-edit-contracts>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>