.row {
    margin: 0;
    padding: 0;
}

.mat-tab-label .mat-tab-label-content b {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.table-responsive {
    overflow-x: unset !important;
}

.btn.btn-icon {
    width: 40px;
    height: 40px;
}

.form-label {
    font-weight: 500;
}

:host ::ng-deep .ag-root-wrapper {
    border-radius: 12px !important;
}

:host ::ng-deep ag-grid-angular {
    padding: 0 !important;
}

:host ::ng-deep #customer-table-tab .mat-tab-body.mat-tab-body-active,
#customer-table-tab .mat-tab-body.mat-tab-body-active {
    top: 0 !important;
}

:host ::ng-deep #inventory-detail-sub-tab .mat-tab-header {
    width: 100% !important;
}

.mat-button.mat-button-disabled.mat-button-disabled {
    color: #fff !important;
}

/* Header Label Start */

:host ::ng-deep .mat-tab-link {
    padding: 0 15px !important;
    min-width: unset !important;
}

/* Header Label End */

.mat-expansion-panel-header {
    border-radius: 0 !important;
}

:host ::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid #cfcfcf !important;
}

:host ::ng-deep .ag-root-wrapper {
    border-radius: 0 !important;
    border: none !important;
}

.math {
    background: #80808061 !important;
    height: 40px;
}

:host ::ng-deep .accordion-grid {
    .mat-expansion-panel-body {
        padding: 0 !important;

        ag-grid-angular {
            height: 700px !important;
            padding-bottom: 0 !important;

            .ag-root-wrapper {
                border-radius: 0 0 4px 4px !important;
            }
        }

        .grid-header-wrapper {
            margin: 0 !important;
        }
    }
}

:host ::ng-deep .form-group label {
    float: left !important;
}

:host ::ng-deep .form-group span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6 {
    padding-left: 1px !important;
    padding-right: 3px !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2) {
    padding-left: 3px !important;
    padding-right: 1px !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-12 {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 15px 5px 5px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.accordian-textarea {
    border-radius: 4px;

    .accordian-textarea-box {
        h2 {
            font-size: 15px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            letter-spacing: normal;
            font-weight: 500;
            margin-bottom: 0;
            color: rgba(0, 0, 0, .87);
            padding: 8px 0;
            text-align: center;
            background: #80808061;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        textarea {
            background: transparent;
            border: 1px solid #ced4da !important;
            padding: 5px !important;

            textarea::placeholder {
                padding: 2px;
            }
        }
    }
}

:host ::ng-deep .row.accordian-group {
    display: flex !important;
    gap: 8px !important;
}


.datepicker-c-main .form-label {
    font-weight: 500;
}

:host ::ng-deep .p-calendar.p-calendar-w-btn {
    width: calc(100% - 117px) !important;
}

:host ::ng-deep .second-datepicker .p-calendar.p-calendar-w-btn {
    width: calc(100% - 127px) !important;
}

:host ::ng-deep .p-calendar .p-inputtext {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-radius: 0 !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    font-family: sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.5em !important;
}

:host ::ng-deep .p-calendar .p-inputtext::placeholder {
    font-family: sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.5em !important;
}

:host ::ng-deep .p-calendar .p-inputtext:focus,
:host ::ng-deep .p-calendar .p-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

:host ::ng-deep .p-calendar .p-button {
    color: #000;
    background: transparent;
}

:host ::ng-deep button.p-calendar-trigger.p-button.p-button-icon-only {
    padding: 0;
    width: auto;
    border: none;
}

:host ::ng-deep .p-calendar .p-button span.pi.pi-calendar {
    font-size: 20px !important;
}

.padding-left-none,
.padding-right-none {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inner-option {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 5px;

    :hover {
        color: #4680ff;
    }
}

:host ::ng-deep .p-calendar.p-calendar-w-btn {
    width: calc(100% - 70px) !important;
    padding-right: 4px;
}

button.close {
    position: relative;
    top: -15px;
    right: -10px;
}

:host ::ng-deep .popover-body ul li {
    list-style-type: none !important;
}

i.fas-fa-file-lock {
    position: relative;
    padding-left: 18px;
}

i.fas-fa-file-lock::before {
    content: '1';
    position: absolute;
    background-image: url('../../../assets/images/Contract/fa-solid-fa-file-lock.svg') !important;
    color: transparent;
    transition: all 0.3s;
    background-repeat: no-repeat;
    color: transparent;
    transition: all 0.3s;
    width: 18px;
    left: 0;
    top: 0;
}

.btn.btn.btn-outline-primary.active .fas-fa-file-lock::before,
.btn.btn.btn-outline-primary:hover .fas-fa-file-lock::before {
    content: '1';
    position: absolute;
    background-image: url('../../../assets/images/Contract/fa-solid-fa-file-lock-white.svg') !important;
    background-repeat: no-repeat;
    color: transparent;
    transition: all 0.3s;
    width: 18px;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 991px) {
    .btn.btn-icon {
        width: 35px;
        height: 35px;
    }

    .padding-left-none {
        margin-bottom: 8px;
    }
}

:host ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

@media only screen and (max-width: 767px) {

    :host ::ng-deep .mat-expansion-panel-body .row .col-md-6,
    :host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2),
    :host ::ng-deep .mat-expansion-panel-body .row .col-md-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .accordian-textarea .accordian-textarea-box h2 {
        font-size: 16px;
    }

    .form-label {
        min-width: unset !important;
    }
}