<div class="row">
    <div class="col-12 text-right" (click)="refreshClick()" [ngClass]="{'disabled': recordPublishedOrCompleted}">
        <i class="fa fa-eye c-refresh custom-icon" container="body"
            ngbTooltip="Rerun Distributions" tooltipClass="tooltip-bg" aria-hidden="true"></i>
    </div>
</div>
<ng-container>
    <mat-tab-group *ngIf="selectedTab == 5 || fromTab == 'true'" [selectedIndex]="index" (selectedIndexChange)="changedTab($event)">
        <!-- Cost Distribution Main Grid -->
        <mat-tab>
            <div class="col-sm-12">
                <ng-template mat-tab-label>
                    <b> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="15px"
                            viewBox="0 0 229.000000 229.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,229.000000) scale(0.100000,-0.100000)" fill="#4680ff"
                                stroke="none">
                                <path d="M1113 2238 c-54 -58 -153 -193 -153 -208 0 -29 23 -40 82 -40 l58 0
               0 -139 0 -139 -70 -16 c-70 -15 -143 -48 -213 -94 l-38 -25 -95 94 c-52 51
               -94 98 -94 104 0 6 18 29 40 50 71 70 57 83 -115 104 -186 24 -181 29 -160
               -139 9 -69 20 -135 25 -147 14 -34 41 -28 85 17 21 22 44 40 50 40 6 0 53 -42
               104 -94 l94 -94 -37 -56 c-42 -64 -81 -161 -91 -229 l-7 -47 -139 0 -139 0 0
               63 c0 62 -11 87 -38 87 -7 0 -63 -39 -123 -86 -78 -62 -109 -92 -109 -108 0
               -25 198 -186 230 -186 27 0 40 30 40 89 l0 51 138 0 137 0 12 -60 c13 -67 61
               -177 100 -228 l26 -34 -99 -99 -98 -99 -46 45 c-51 50 -76 56 -90 22 -12 -30
               -41 -264 -34 -281 3 -8 12 -17 20 -20 17 -7 251 22 282 34 33 14 27 39 -23 90
               l-45 46 99 98 98 98 62 -41 c64 -41 154 -76 229 -87 l42 -7 0 -138 0 -139 -63
               0 c-62 0 -87 -11 -87 -38 0 -7 39 -63 86 -123 68 -86 92 -109 108 -107 19 3
               133 133 177 202 30 48 12 66 -66 66 l-65 0 0 138 0 138 65 13 c71 14 171 58
               224 98 l33 26 99 -99 99 -98 -45 -46 c-50 -51 -56 -76 -22 -90 30 -12 264 -41
               281 -34 8 3 17 12 20 20 7 17 -22 251 -34 282 -14 33 -39 27 -90 -23 l-46 -45
               -98 99 -98 98 41 62 c41 64 76 154 87 229 l7 42 138 0 139 0 0 -56 c0 -63 13
               -94 38 -94 9 0 65 39 125 85 79 63 107 91 107 108 0 16 -28 44 -105 105 -58
               45 -114 82 -125 82 -27 0 -40 -30 -40 -89 l0 -51 -139 0 -138 0 -13 62 c-14
               73 -47 150 -91 214 l-31 46 98 99 98 99 46 -45 c51 -50 76 -56 90 -22 12 30
               41 264 34 281 -3 8 -12 17 -20 20 -17 7 -251 -22 -281 -34 -34 -14 -28 -39 22
               -90 l45 -46 -99 -98 -98 -98 -62 41 c-61 39 -150 74 -223 87 l-38 6 0 139 0
               139 58 0 c59 0 82 11 82 41 0 25 -162 224 -186 227 -11 2 -29 -7 -41 -20z
               m152 -633 c169 -45 302 -173 350 -339 23 -80 17 -219 -14 -298 -46 -120 -159
               -233 -279 -279 -86 -33 -220 -38 -311 -10 -137 42 -260 155 -312 288 -33 86
               -38 221 -11 310 75 246 331 392 577 328z" />
                                <path d="M1035 1522 c-120 -41 -196 -109 -249 -221 -28 -60 -31 -75 -31 -162
               0 -90 2 -99 37 -171 45 -91 103 -147 196 -191 61 -29 76 -32 162 -32 86 0 101
               3 162 32 91 43 151 101 194 188 87 176 38 376 -120 496 -96 73 -243 98 -351
               61z m155 -122 c0 -24 7 -33 40 -50 40 -21 70 -63 70 -100 0 -32 -62 -28 -84 6
               -15 22 -23 25 -69 22 -46 -3 -53 -6 -61 -30 -14 -39 14 -68 66 -68 88 0 148
               -55 148 -137 0 -33 -7 -50 -31 -78 -17 -19 -42 -38 -55 -41 -19 -5 -24 -13
               -24 -40 0 -33 -1 -34 -40 -34 -38 0 -40 2 -40 30 0 24 -7 33 -40 50 -40 21
               -70 63 -70 100 0 17 6 20 38 20 29 0 39 -5 47 -22 19 -43 120 -37 131 8 9 37
               -19 64 -69 64 -84 0 -147 57 -147 133 0 52 26 94 72 115 32 14 38 22 38 50 0
               31 2 32 40 32 38 0 40 -2 40 -30z" />
                            </g>
                        </svg>&nbsp;{{ selectedTab == 5 ? 'Cost Distribution 4 ¾' : 'Final Distribution 6'}}</b>

                </ng-template>
            </div>
            <ng-template matTabContent>
                <ng-container *ngIf="index == 0">
                    <div class="tab-wrapper-section">
                        <div class="banner">
                            <!-- <div class="row">
                                <div class="col-12 text-right" (click)="refreshClick()">
                                    <i class="fa fa-eye c-refresh mr-2" aria-hidden="true" style="margin-bottom: 12px;"></i>
                                </div>
                            </div> -->
                          
                            <app-invoice-overview [refreshDatas]="reloadOverview" (reloadGrid)="reloadGrid($event)" [selectedTab]="selectedTab" [sandBoxGridRowData]="sandBoxGridRowData" (invoiceOverviewDataOutput)="invoiceOverviewDataOutput($event)" (fetchedDataDataOutput)="fetchedDataDataOutput($event)"></app-invoice-overview>
                           
                            <app-cost-distribution-step4 [reloadGrid]="refreshGrid" [recordPublishedOrCompleted]="recordPublishedOrCompleted" [fromTab]="fromTab" [fetchedData]="fetchedData" (onCellClicked)="redirectTab($event)" [sandBoxGridRowData]="sandBoxGridRowData" [clickedRefresh]="reloadData" [overviewData]="overViewData"
                            (switchTab)="switchNext($event)" (callOverview)="callOverview($event)"></app-cost-distribution-step4>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </mat-tab>

        <mat-tab [disabled]="index == 0 || index == 2" >
            <div class="col-sm-12">
                <ng-template mat-tab-label>
                    <b> <svg width="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 550" x="0px" y="0px">
                            <g data-name="25 Step">
                                <path fill="#4680ff"
                                    d="M492.8,134.4a16,16,0,0,0-22.4-3.2L464,136V96a48.05,48.05,0,0,0-48-48H376V16A16,16,0,0,0,360,0H152a16,16,0,0,0-16,16v96a16,16,0,0,0,16,16H360a16,16,0,0,0,16-16V80h40a16,16,0,0,1,16,16v40l-6.4-4.8a16,16,0,1,0-19.2,25.6L432,176v48a16,16,0,0,1-16,16H376V200a16,16,0,0,0-16-16H152a16,16,0,0,0-16,16v40H96a48.05,48.05,0,0,0-48,48v56l-6.4-4.8a16,16,0,1,0-19.2,25.6L48,384v32a48.05,48.05,0,0,0,48,48h40v32a16,16,0,0,0,16,16H360a16,16,0,0,0,16-16V400a16,16,0,0,0-16-16H152a16,16,0,0,0-16,16v32H96a16,16,0,0,1-16-16V384l25.6-19.2a16,16,0,0,0-19.2-25.6L80,344V288a16,16,0,0,1,16-16h40v40a16,16,0,0,0,16,16H360a16,16,0,0,0,16-16V272h40a48.05,48.05,0,0,0,48-48V176l25.6-19.2A16,16,0,0,0,492.8,134.4ZM344,96H168V32H344ZM168,416H344v64H168Z" />
                            </g>
                        </svg>&nbsp;{{ selectedTab == 5 ? 'Cost Distribution Rules Engine 4 ¾ A' : 'Final Distribution Rules Engine 6 A'}}</b>
                </ng-template>
            </div>
            <ng-template matTabContent>
                <ng-container>
                    <div class="tab-wrapper-section">
                        <div class="banner">
                            <app-invoice-overview [sandBoxGridRowData]="sandBoxGridRowData" (invoiceOverviewDataOutput)="invoiceOverviewDataOutput($event)"></app-invoice-overview>
                            <app-cost-distribution-suba [recordPublishedOrCompleted]="recordPublishedOrCompleted" [fromTab]="fromTab" [sandBoxGridRowData]="sandBoxGridRowData" [clickedRecord]="rowData" (redirectTab)="redirectTab2($event)" [overViewData]="overViewData" [SBChargeDetailIdsForCC]="SBChargeDetailIdsForCC"
                            [sbChargeDetailId]="sbChargeDetailId"></app-cost-distribution-suba>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </mat-tab>

        <mat-tab [disabled]="index == 0 || index == 1">
            <div class="col-sm-12">
                <ng-template mat-tab-label>
                    <b> <img src="../../../../../../../assets/images/sandbox-icon/Final-Distribution-Detail-5B.svg" alt="Final Distribution Detail 5B Image">&nbsp;{{ selectedTab == 5 ? 'Distribution Detail 4 ¾ B' : 'Final Distribution Detail 6 B' }}</b>
                </ng-template>
            </div>
            <ng-template matTabContent>
                <ng-container>
                    <div class="tab-wrapper-section">
                        <div class="banner">
                            <app-invoice-overview [sandBoxGridRowData]="sandBoxGridRowData" (invoiceOverviewDataOutput)="invoiceOverviewDataOutput($event)"></app-invoice-overview>
                            <app-cost-distribution-subb [recordPublishedOrCompleted]="recordPublishedOrCompleted" [fromTab]="fromTab" [sandBoxGridRowData]="sandBoxGridRowData" (onCellClicked)="onCellClicked($event)" (redirectTab)="redirectTab2($event)" [clickedRecord]="rowData" [overviewData]="overViewData"></app-cost-distribution-subb>

                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <!-- <div class="row">
        <div class="col-12 text-right custom-icon" (click)="refreshClick()">
            <i class="fa fa-eye c-refresh mr-2" matTooltip="Rerun Distributions" aria-hidden="true" style="margin-bottom: 5px;"></i>
        </div>
    </div> -->
</ng-container>