.row {
    margin: 0 !important;
    padding: 0 !important;
}

.math {
    background: #80808061 !important;
    height: 40px;
}

.matt {
    margin-left: 40%;
    margin-right: 0px !important;
}

:host ::ng-deep .sandbox-step-grid {

    .mat-expansion-panel-body {
        padding: 0 !important;

        ag-grid-angular {
            height: 400px !important;
            padding-bottom: 0 !important;

            .ag-root-wrapper {
                border-radius: 0 0 4px 4px !important;
            }
        }

        .grid-header-wrapper {
            margin: 0 !important;
        }
    }

    // .mat-accordion .mat-expansion-panel{
    //     border: 0 !important;
    // }

}

.mat-expansion-panel {
    box-shadow: none;
}

.mat-expansion-panel-header {
    border-radius: 0 !important;
}

button.btn.btn-icon{
    width: 40px;
    height: 40px;
}