<div class="contacts-list-popup m-0">
    <div class="mat-dialog-header pb-1" style="border: none;">
        <h5 class="modal-title">Link People to Location

            <span class="">
                <svg [ngClass]="{'disabled': loader}" class="pc-icon text-primary circle-icon" (click)="refreshbuttonEmitFn(true)">
                    <use xlink:href="assets/fonts/custom-icon.svg#refreshCircle"></use>
                </svg></span>

        </h5>

        <i style="padding: 5px !important;" class="fas fa-times" [mat-dialog-close]="close"></i>
    </div>

    <div class="mat-dialog-content">


        <div class="location-contact-dialog">
            <app-common-p-tree-table [refreshbutton]="refreshbutton" [payload]="payload" [GridAPI]="GridAPI" (tableDataExist)="tableDataExistFn($event)" [cols]="cols"  [selectionField]="'IsSelected'"
            (exportAccountData)="exportAccountDataFn($event)" (selectedRowsEmit)="selectedRowsEmitFn($event)" (rowCellDoubleClicked)="rowCellDoubleClickedFn($event)"
            (refreshbuttonEmit)="refreshbuttonEmitFn($event)"
            (totalRecordsEmit)="totalRecordsEmitFn($event)"
            (loaderEmit)="loaderEmitFn($event)"
            
            />
            
        </div>
    </div>

    <mat-dialog-actions align="Center">
        <button type="submit" uiSref="work" mat-raised-button color="primary"
            [disabled]="saveButtonDisabled  || !viewNEdit || loader" (click)="update()">
            <span class="spinner-border spinner-border-sm" role="status" *ngIf="saveButtonDisabled"></span>
            Save</button>
    </mat-dialog-actions>
</div>
