.row {
   margin: 0 !important;
   padding: 0 !important;
}

mat-form-field {
   margin-right: 12px;
}

.mapbutton {
   margin: left;
   margin-left: 74%;
   margin-top: 2%;
}

/* new */

table {
   width: 100%;
}

.example-delete-tab-button {
   margin: 8px;
}

.example-card {
   max-width: 1000px;
}

.example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
}

.example-full-width {
   width: 100%;
}

td {
   padding-right: 8px;
}

agm-map {
   height: 400px;
}

.round {
   border-radius: 3px;
}

.bg {
   background-color: #4680ff !important;
}

.btnaddl {
   //margin-top: 67px;
   cursor: pointer;
   position: absolute;
   //right: -10px;
   left: 72px;
   z-index: 99;
   //border: hidden;
   //background: transparent;
   top: 3px;
}

.btnaddcl {
   /* margin-top: 60px;
  cursor: pointer;
    position: absolute;
    right: 0px;
    z-index: 99;
    border: hidden;
    background: transparent; */

   cursor: pointer;
   position: absolute;
   left: 58px;
   z-index: 99;
   border: hidden;
   background: transparent;
   top: -6px;
}

.btnaddinv {
   cursor: pointer;
   position: absolute;
   left: 65px;
   z-index: 99;
   border: hidden;
   background: transparent;
   top: -6px;
}

.btnup {
   //margin-top: 122px;
   cursor: pointer;
   position: absolute;
   //right: -6px;
   left: 130px;
   z-index: 99;
   border: hidden;
   background: transparent;
   top: 3px;
}

.fb {
   //border-bottom-style: solid;
   border: solid;
   border-radius: 12px;
   margin-bottom: 12px;
   border-color: #6792f3;
}

.had {
   margin-bottom: 17px;
   border-top-right-radius: 11px;
   border-top-left-radius: 11px;
}

.bbtn {
   margin-inline-start: 10px;
   //border: #4680ff !important;
   //background-color: #4680ff61;
   border: solid 1px #4680ff !important;
}

product-item {
   display: flex;
   align-items: center;
   padding: 0.5rem;
   width: 100%;

   img {
      width: 75px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 1rem;
   }

   .product-list-detail {
      flex: 1 1 0;
   }

   .product-list-action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   .product-category-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
   }

   .product-category {
      vertical-align: middle;
      line-height: 1;
   }
}

@media screen and (max-width: 576px) {
   .product-item {
      flex-wrap: wrap;

      .image-container {
         width: 100%;
         text-align: center;
      }

      img {
         margin: 0 0 1rem 0;
         width: 100px;
      }
   }
}

.btnps {
   //position: absolute;
   right: 0;
   //border: hidden;
   //background: white;
   margin-top: 3px;
   margin-left: 16px;
}

.mrg {
   margin-top: 48px;
}

.example-container {
   width: 400px;
   max-width: 100%;
   margin: 0 25px 25px 0;
   display: inline-block;
   vertical-align: top;
}

.container {
   max-height: 400px;
   overflow-y: scroll !important;
}

.example-list {
   border: solid 1px #ccc;
   min-height: 60px;
   background: white;
   border-radius: 4px;
   overflow: hidden;
   display: block;
}

.example-box {
   padding: 20px 10px;
   border-bottom: solid 1px #ccc;
   color: rgba(0, 0, 0, 0.87);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   cursor: move;
   background: white;
   font-size: 14px;
}

.cdk-drag-preview {
   box-sizing: border-box;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
   opacity: 0;
}

.cdk-drag-animating {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
   border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fb2 {
   border: solid;
   border-radius: 8px;
   margin-bottom: 12px;
   border-color: #80808061;
}

.hdec {
   //border-color: #80808061;
   background: #80808061;
}

.sacc2 {
   border: solid 2px;
   border-radius: 12px;
   margin-bottom: 12px;
   border-color: #80808061;
}

.example-action-buttons {
   padding-bottom: 20px;
}

:host ::ng-deep .mat-expansion-panel-header {
   border-radius: 0 !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
   flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
   margin-left: 8px;
}

.math {
   background: #80808061 !important;
   height: 40px;
}

.matt {
   margin-left: 40%;
   margin-right: 0px !important;
}

.sbubtn {
   color: black;
   background-color: #cfcfcf;
   border-color: gainsboro;
   border-radius: 3px;
}

.ficon {
   margin-top: 2px;
}

.cell-wrap {
   white-space: pre !important;
}

::ng-deep :host scroll-bar-css-selector {
   background-color: green;
}


.btn-list {
   color: rgb(207, 207, 207) !important;
   background-color: rgb(207, 207, 207) !important;
   border-color: black !important;
}

// .mat-form-field {
//    width: 333px !important;
// }

.vbut {
   border: solid 1px #cfcfcf;
   color: #cfcfcf;
   margin-bottom: -36px !important;

   /* border: hidden; */
}

::ng-deep div.listbox button.btn-primary {
   background-color: rgb(207, 207, 207);
   border-color: rgb(207, 207, 207);
   color: black;
}

::ng-deep div.mat-form-field-flex {
   background-color: white !important;
}

.plab {
   margin-bottom: 26px;
}

:host ::ng-deep .p-multiselect {
   min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
   min-width: 20rem;
}

//////

.math {
   background: #80808061 !important;
   height: 40px;
   border-top-right-radius: 1px;
   border-top-left-radius: 1px;
}

mat-panel-title {
   width: 100%;
   display: block;
   text-align: center;
   margin-right: 0px;
}

mat-expansion-panel {
   border: solid;
   border-radius: 8px;
   margin-bottom: 12px !important;
   border-color: #80808061;
}

.loader-spinner {
   text-align: center;
   margin-top: 50px;
   color: #4680FF;
}

:host ::ng-deep .form-group {
   margin-bottom: 10px !important;
}

:host ::ng-deep .form-control {
   height: unset !important;
   // width: auto  !important;
}

:host ::ng-deep .form-group label {
   float: left !important;
}

:host ::ng-deep .form-group span {
   display: block;
   overflow: hidden;
   padding: 0 4px 0 6px;
}

.editForm .example-headers-align mat-expansion-panel.mat-expansion-panel {
   overflow: visible;
}

:host ::ng-deep .mat-expansion-panel-content .form-control {
   padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-body {
   padding: 15px 20px !important;
}

:host ::ng-deep .map-accordian-section .mat-expansion-panel-body {
   padding: 0 !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6 {
   padding-left: 1px !important;
   padding-right: 3px !important;
}

:host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2) {
   padding-left: 3px !important;
   padding-right: 1px !important;
}

.mat-accordion .mat-expansion-panel {
   box-shadow: none !important;
   border: 1px solid #cfcfcf !important;
}

//  :host ::ng-deep .height-42 span.p-dropdown-label.p-inputtext{
//    height: 42px !important;
//  }
.form-check {
   display: flex !important;
   align-items: center !important;
}

// .padding-left-none {
//    padding-left: 0 !important;
//    padding-right: 5px !important;
// }

// .padding-right-none {
//    padding-right: 0 !important;
//    padding-left: 5px !important;
// }

// :host ::ng-deep .mat-datepicker-toggle button.mat-icon-button {
//    height: 24px !important;
//    width: 24px !important;
//    display: flex;
//    align-items: center;
//    justify-content: center;
// }

// :host ::ng-deep .mat-datepicker-toggle button.mat-icon-button span{
//    padding: 0 !important;
// }

// :host ::ng-deep .mat-input-element {
//    border-top-width: medium !important;
// }

:host ::ng-deep .form-group.margin-bottom-none {
   margin-bottom: 0 !important;
}

span {
   line-height: 0 !important;
}

.form-control.is-invalid {
   background-image: none;
}


.datepicker-c {
   display: flex !important;
   align-items: center !important;
}

.datepicker-c .mat-datepicker-input {
   height: 23px !important;
   padding-top: 5px !important;
   margin-top: 0 !important;
   padding-bottom: 5px !important;
}

.datepicker-c-main mat-label {
   padding-top: 5px !important;
   font-weight: 500;
   width: 100% !important;
}

.datepicker-c span {
   display: flex !important;
   width: calc(100% - 73px) !important;
}

.datepicker-c-main .mat-form-field {
   margin-right: 3px !important;
}

.date-picker-inner {
   width: calc(100% - 82px) !important;
   margin-left: 6px !important;
}

:host ::ng-deep .datepicker-c .form-control input::placeholder {
   // color: #ADB5BD !important;
   color: red !important;
   opacity: 1 !important;
}

:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
   display: none !important;
}

// .datepicker-c-main .mat-form-field
:host ::ng-deep .p-calendar.p-calendar-w-btn {
   // margin-right: 3px !important;
   width: calc(100% - 78px) !important;
}

// .datepicker-c-main.second-datepicker .mat-form-field{
:host ::ng-deep .second-datepicker .p-calendar.p-calendar-w-btn {
   width: calc(100% - 60px) !important;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
   background-color: #ced4da;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
   background-color: #4680ff;
}

//  :host ::ng-deep .mat-form-field-infix{
//    border-top: 0 !important;
// }

// :host ::ng-deep .mat-form-field-label-wrapper{
//    padding-top: 0 !important;
//    top: 0 !important;
// }

//  :host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
//    padding: 0 !important
// }

:host ::ng-deep .datepicker-c-main .mat-form-field-suffix .mat-icon-button {
   height: 30px;
   width: 30px;
}

:host ::ng-deep .datepicker-c-main .mat-form-field-suffix .mat-icon-button svg.mat-datepicker-toggle-default-icon {
   width: 30px;
}

:host ::ng-deep .p-calendar .p-inputtext {
   border-left: 0 !important;
   border-right: 0 !important;
   border-top: 0 !important;
   border-radius: 0 !important;
   padding-bottom: 3px !important;
   padding-left: 6px !important;
   font-family: sans-serif !important;
   font-size: 0.875rem !important;
   font-weight: 400 !important;
   line-height: 1.5em !important;
}

:host ::ng-deep .p-calendar .p-inputtext::placeholder {
   font-family: sans-serif !important;
   font-size: 0.875rem !important;
   font-weight: 400 !important;
   line-height: 1.5em !important;
}

:host ::ng-deep .p-calendar .p-inputtext:focus,
:host ::ng-deep .p-calendar .p-button:focus {
   outline: none !important;
   box-shadow: none !important;
}

:host ::ng-deep .p-calendar .p-button {
   color: #000;
   background: transparent;
}

:host ::ng-deep button.p-calendar-trigger.p-button.p-button-icon-only {
   padding: 0;
   width: auto;
   border: none;
}

:host ::ng-deep .p-calendar .p-button span.pi.pi-calendar {
   font-size: 20px !important;
}

.map-right-accordion-height {
   max-height: 591px !important;
}

:host ::ng-deep .location-panel-padding .mat-expansion-panel-body {
   padding: 15px 5px !important;
}

:host ::ng-deep .mat-expansion-panel-body {
   padding: 15px 5px 5px !important;
}

.same-location-lable {
   padding-left: 1px !important;
}

/* user-activity-log (p-table) start */

:host ::ng-deep {

   .padding-none .mat-expansion-panel-body {
      padding: 0px !important;
   }

   .user-activity-log .mat-expansion-panel-body thead tr {
      height: 34px !important;
   }

   .user-activity-log .mat-expansion-panel-body thead tr th {
      font-size: 15px;
      font-weight: 500;
      color: #181d1f;
      background: #EEE;
      border-top: 1px solid #BABFC7;
      border-bottom: 1px solid #BABFC7;
   }

   .user-activity-log .mat-expansion-panel-body thead tr th,
   .user-activity-log .mat-expansion-panel-body tbody tr td {
      padding: 0 8px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   }

   .user-activity-log .mat-expansion-panel-body tbody tr td {
      font-size: 13px;
      color: #181d1f;
      word-wrap: break-word;
   }

   .user-activity-log .mat-expansion-panel-body tbody tr:nth-child(even) {
      background: #fcfcfc;
   }

}

:host ::ng-deep {

   .user-activity-log .mat-expansion-panel-body thead tr,
   .user-activity-log .mat-expansion-panel-body tbody tr {
      max-height: 62px !important;
      min-height: 24px;
      scrollbar-gutter: stable;
      // background: #eee;
   }

   .user-activity-log .mat-expansion-panel-body thead tr {
      background: #eee;
   }

   p-table table {
      display: flex !important;
      // flex-wrap: wrap !important;
      flex-wrap: nowrap !important;
      flex-direction: column !important;
   }

   p-table .p-datatable-thead tr,
   p-table .p-datatable-tbody tr {
      display: inline-flex !important;
      width: 100% !important;
   }

   thead.p-datatable-thead::before {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 1px;
      background: #BABFC7;
      right: 0;
   }

   thead.p-datatable-thead::after {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 1px;
      background: #BABFC7;
      right: 0;
      top: 33.4px;
   }

   p-table .p-datatable-tbody {
      display: table-caption !important;
   }

   p-table tr {
      overflow-y: auto !important;
   }

   p-table .p-datatable-thead tr th {
      display: flex;
      align-items: center;
   }

   p-table .p-datatable-tbody tr td,
   p-table .p-datatable-tbody tr:last-child {
      border: none;
   }

   p-table .p-datatable-tbody tr {
      border-bottom: 1px solid #e9ecef;
   }

   p-table .p-datatable-thead tr th:nth-of-type(1) {
      width: 85px !important;
   }

   p-table .p-datatable-tbody tr td:nth-of-type(1) {
      width: 85px !important;
      display: flex;
      align-items: center;
   }

   p-table .p-datatable-thead tr th:nth-of-type(2),
   p-table .p-datatable-tbody tr td:nth-of-type(2) {
      width: calc(100% - 186px) !important;
   }

   p-table .p-datatable-thead tr th:nth-of-type(3) {
      width: 101px !important;
   }

   p-table .p-datatable-tbody tr td:nth-of-type(3) {
      width: 101px !important;
      display: flex;
      align-items: center;
   }
}

/* user-activity-log (p-table) end */

i.fas.fa-file {
   cursor: pointer;
}

@media only screen and (max-width: 991px) {
   button.btn.btn-primary {
      padding: 8px 12px;
   }

   .same-location-lable {
      padding-left: 0px !important;
   }

   :host ::ng-deep .p-calendar.p-calendar-w-btn {
      width: calc(100% - 76px) !important;
   }

   :host ::ng-deep .user-activity-log .mat-expansion-panel-body thead tr th,
   :host ::ng-deep .user-activity-log .mat-expansion-panel-body tbody tr td {
      padding: 0 10px;
   }
}


@media only screen and (max-width: 767px) {
   :host ::ng-deep .mat-expansion-panel-body .row .col-md-6 {
      padding-left: 0px !important;
      padding-right: 0px !important;
   }

   :host ::ng-deep .mat-expansion-panel-body .row .col-md-6:nth-child(2n + 2) {
      padding-left: 0px !important;
      padding-right: 0px !important;
   }
}