<div class="row">
    <div class="col-sm-12">
        <form class="editForm" novalidate>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xl-6 m-t-20">
                    <div class="form-group">
                        <label class="form-label">Vendor</label>
                        <span><p-dropdown  [options]="[]"
                            [filter]="true" filterBy="" [showClear]="true" placeholder="Select Vendor..."
                            [showClear]="false" appendTo="body">
                        </p-dropdown></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xl-6 m-t-20">
                    <div class="form-group">
                        <label class="form-label">Vendor Product</label>
                        <span><p-dropdown  [options]="[]"
                            [filter]="true" filterBy="" [showClear]="true" placeholder="Select Vendor Product..."
                            [showClear]="false" appendTo="body">
                        </p-dropdown></span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xl-12 m-t-20">
                </div>
            </div>
        </form>
    </div>
</div>
