<div class="row g-2 align-items-center flex-wrap">
  <div class="col d-flex align-items-center flex-wrap gap-2">
    <div class="d-flex">
      <button *ngFor="let option of buttonOptions; let i = index; trackBy: trackByIndex" type="button"
        class="btn btn-shadow btn-outline-primary btn-size b-rad-20" [ngClass]="{
                'm-l-10': i !== 0,
                'btn-primary active text-white': option.value === selectedButton
              }" [value]="option.value" [(ngModel)]="selectedButton" (click)="selectedButton = option.value; buttonClick.emit(option.value)">
        <i [class]="option.icon" class="m-r-2"></i>
        {{option.label}}
      </button>
      
    </div>

    <div *ngIf="!temRoles">
      <select class="form-select" [(ngModel)]="selectedTem" [ngModelOptions]="{standalone: true}"
        [disabled]="disableTemSearchDD" (change)="temChange.emit()">
        <option value="all">All</option>
        <option *ngFor="let tem of tems" [value]="tem.Id">
          {{tem.AccountName}}
        </option>
      </select>
    </div>

    <div>
      <div class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" [ngClass]="{'disabled': disableTemSearch}"
        (click)="filterGridByTEMId.emit(selectedTem)">
        <svg class="pc-icon">
          <use xlink:href="assets/fonts/custom-icon.svg#custom-search-normal-1"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="col-auto ms-auto d-flex align-items-center gap-2" *ngIf="currentOpenEditPagevar === 'Table' && (viewNEdit || CompanyRoles)">
    <div title="Export" class="avatar avatar-s bg-success-50 text-success-500 cp b-rad-20"
      [ngClass]="{'disabled': isDisabledExport || !tableDataExist}"
      (click)="!isDisabledExport ? exportDataAsExcel.emit() : ''">
      <i class="{{isDisabledExport ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}}"></i>
    </div>

    <div title="Add Customer" class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" 
      (click)="add.emit()">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
