<div class="row g-2 align-items-center flex-wrap">
  <div class="col d-flex align-items-center flex-wrap gap-2">
    <div class="d-flex">
      <button *ngFor="let option of buttonOptions; let i = index; trackBy: trackByIndex" type="button"
        class="btn btn-shadow btn-outline-primary btn-size b-rad-20" [ngClass]="{
                'm-l-10': i !== 0,
                'btn-primary active text-white': option.value === selectedButton
              }" [value]="option.value" [(ngModel)]="selectedButton"
        (click)="selectedButton = option.value; buttonClick.emit(option.value)">
        <i [class]="option.icon" class="m-r-2"></i>
        {{option.label}}
      </button>

    </div>

    <div *ngIf="!temRoles && tems.length > 0 && showDD" [ngClass]="{'disabled': loaderParent}">
      <p-dropdown class="custom-p-dropdown-outer" [options]="tems" [(ngModel)]="selectedTem"
        [ngModelOptions]="{standalone: true}" [disabled]="disableTemSearch" (onChange)="temChange.emit(selectedTem)"
        [filter]="true" [filterFields]="['AccountName']" optionValue="Id" optionLabel="AccountName">
      </p-dropdown>
    </div>

    <div [ngClass]="{'disabled': loaderParent}" *ngIf="customersDD || customers?.length > 0 && showDD">
      <p-dropdown class="custom-p-dropdown-outer" [options]="customers" [(ngModel)]="selectedCustomer"
        [ngModelOptions]="{standalone: true}" [disabled]="disableTemSearch"
        (onChange)="customerChange.emit(selectedCustomer)" [filter]="true" [filterFields]="['AccountName']"
        optionValue="Id" optionLabel="AccountName">
      </p-dropdown>
    </div>

    <div *ngIf="tems.length > 0 && showDD" [ngClass]="{'disabled': loaderParent || disableTemSearch}">
      <div class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20"
        (click)="filterGridByTEMId.emit(selectedTem)">
        <svg class="pc-icon">
          <use xlink:href="assets/fonts/custom-icon.svg#custom-search-normal-1"></use>
        </svg>
      </div>
    </div>
  </div>

  <div [ngClass]="{'disabled': loaderParent}" class="col-auto ms-auto d-flex align-items-center gap-2"
    *ngIf="(currentOpenEditPagevar === 'Table' && (viewNEdit || CompanyRoles)) || addbuttonCondition">
    <div title="Export" class="avatar avatar-s bg-success-50 text-success-500 cp b-rad-20"
      [ngClass]="{'disabled': isDisabledExport || !tableDataExist}"
      (click)="!isDisabledExport ? exportDataAsExcel.emit() : ''">
      <i class="{{isDisabledExport ? 'spinner-border spinner-border-sm' : 'fas fa-file-excel'}}"></i>
    </div>

    <div title="Add" class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" (click)="add.emit()">
      <i class="fas fa-plus"></i>
    </div>
  </div>

  <div [ngClass]="{'disabled': loaderParent}" class="col-auto ms-auto d-flex align-items-center gap-2"
    *ngIf="currentOpenEditPagevar === 'Edit' && currentTabName === 'People'">
    <app-action-buttons [isResetpwdAccess]="isResetpwdAccess" [viewNEdit]="viewNEdit"
      [isHaveCompanyUser]="isHaveCompanyUser" [peopleDataTable]="peopleDataTable" [isTemUser]="isTemUser"
      [isCompanyUser]="isCompanyUser" (onResetPassword)="handleResetPasswordFn()"
      (onSetNewPassword)="handleSetNewPasswordFn()" (onUnlockUser)="handleUnlockUserFn()"
      (onLockUser)="handleLockUserFn()" (onSendEmailVerification)="handleEmailVerificationFn()"
      (onAddLocationNote)="handleAddLocationNoteFn()">
    </app-action-buttons>
  </div>


  <div [ngClass]="{'disabled': loaderParent}" class="col-auto ms-auto d-flex align-items-center gap-2"
    *ngIf="currentOpenEditPagevar === 'Edit' && currentTabName === 'Notes'">
    <div class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" (click)="setLocationNotes.emit('add')"
      title="Add Location Note"><i class="fas fa-plus"></i></div>

    <button type="button" class="btn btn-shadow btn-outline-primary btn-size b-rad-20 btn-primary text-white"
      (click)="setLocationNotes.emit('inactive')">Make
      Inactive</button>

    <button type="button" class="btn btn-shadow btn-outline-primary btn-size b-rad-20 btn-primary text-white"
      (click)="setLocationNotes.emit('active')">Make
      Active</button>
  </div>

  <div [ngClass]="{'disabled': loaderParent || disablePlusOptions}"
    class="col-auto ms-auto d-flex align-items-center gap-2" *ngIf="showAddButton">
    <div class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" [placement]="'left'"
      [ngbPopover]="htmlContent1" popoverClass="cost-center-tooltip">
      <i class="fas fa-plus"></i>
    </div>


    <ng-template #htmlContent1>
      <div class="text-left">
        <div>
          <ul class="d-block mb-0 pl-0">
            <span class="inner-option" (click)="replaceContract.emit(true)">
              <a> <i class="fas fa-angle-right"></i>
                Replace Contract </a> </span><br>

            <span class="inner-option" (click)="addAddendum.emit(true)">
              <a> <i class="fas fa-angle-right"></i> Add Addendum </a>
            </span>
          </ul>
        </div>
        <div>
        </div>
      </div>
    </ng-template>
  </div>

  <div [ngClass]="{'disabled': loaderParent || disabledLinkInventory}"
    class="col-auto ms-auto d-flex align-items-center gap-2" *ngIf="showLinkInventory">
    <div title="Link Inventory" class="avatar avatar-s bg-primary-50 text-primary-500 cp b-rad-20" (click)="LinkInventoryCDialog.emit()">
      <i class="fas fa-edit"></i>
    </div>
  </div>
</div>