.row {
  margin: 0 !important;
  padding: 0 !important;
}

mat-panel-title {
  width: 100%;
  display: block;
  text-align: center;
  margin-right: 0px;
}

mat-expansion-panel {
  border: solid;
  border-radius: 8px;
  margin-bottom: 12px !important;
  border-color: #80808061;
}

.text-c-red {
  color: #4680ff;
  font-size: 12px;
}

.borderc {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

::ng-deep {
  .tooltip-bg .tooltip-inner {
    background-color: #cfcfcf;
    color: rgba(0, 0, 0, 0.87);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.math {
  background: #80808061 !important;
  height: 40px;
}

.matt {
  margin-left: 40%;
  margin-right: 0px !important;
}


.ficon {
  margin-top: 2px;
}

.cell-wrap {
  white-space: pre !important;
}

::ng-deep :host scroll-bar-css-selector {
  background-color: green;
}

.btn-list {
  color: rgb(207, 207, 207) !important;
  background-color: rgb(207, 207, 207) !important;
  border-color: black !important;
}

.mat-form-field {
  width: 333px !important;
}

.vbut {
  border: solid 1px #cfcfcf;
  color: #cfcfcf;
  margin-bottom: -36px !important;
}

::ng-deep div.listbox button.btn-primary {
  background-color: rgb(207, 207, 207);
  border-color: rgb(207, 207, 207);
  color: black;
}

::ng-deep div.mat-form-field-flex {
  background-color: white !important;
}

.plab {
  margin-bottom: 26px;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
  min-width: 20rem;
}

.row-2 {
  padding-left: 5px;
  padding-right: 5px;
}

///////////////////////////////////////////////////////


:host ::ng-deep .mat-expansion-panel-body {
  padding: 15px 5px 5px !important;
}

:host ::ng-deep .service-attr-acc .mat-expansion-panel-body {
  padding: 0 !important;
}

.no-found {
  padding-bottom: 20px;
}

:host ::ng-deep .margin-b-none {
  margin-bottom: 0 !important;
}

.location-tables {
  // display: flex;
  // flex-wrap: wrap;
  margin-bottom: 10px;
}


.btn.btn-icon.service-tab-btn {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  top: 5px;
  left: 10px;
  z-index: 1;
}

.btn.btn-icon.service-tab-btn.second-btn {
  position: absolute;
  left: 5px !important;
}

.mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 10px !important;
}

.location-tables {
  margin-bottom: 0 !important;
}

:host ::ng-deep .location-tables .mat-expansion-panel-body {
  padding: 0 !important;

}

:host ::ng-deep .location-tables .grid-header-wrapper {
  margin: 0 !important;
}

:host ::ng-deep .location-tables .ag-theme-alpine {
  padding-bottom: 0 !important;
}

:host ::ng-deep ag-grid-angular {
  padding: 0 !important;
}

:host ::ng-deep button.mat-spinner-btn .mat-button-wrapper {
  display: flex !important;
  align-items: center !important;
  color: #fff !important;
}

.form-group.res-btn-wireline-save {
  margin-bottom: 0px !important;
}

.bb1 {
  border-bottom: 1px solid #4580FE;
}

.set-primary-span {
  text-decoration: none;
  color: #4580FE;
}

.set-primary-span:hover {
  cursor: pointer;
  ;
}

.icon-color {
  color: #4680ff !important;
}


span.location-label {
  font-size: 14px;
  padding-left: 4px;
  line-height: 1rem;
}

.primary-location-bold span.location-label {
  font-weight: bold;
}


/* Location tab start */

:host ::ng-deep .p-listbox .p-listbox-list .p-listbox-item:focus{
  box-shadow: none !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-listbox .p-listbox-header .p-listbox-filter {
  min-height: 24px;
  border-radius: 3px;
  border-color: #babfc7;
  padding: 1px 2px 1px 6px !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-listbox .p-listbox-header {
  padding: 8px !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-checkbox {
  align-items: center !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-checkbox .p-checkbox-box {
  width: 14px !important;
  height: 14px !important;
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 0.25em !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #2196F3 !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-checkbox .p-checkbox-box .p-checkbox-icon {
  font-size: 10px !important;
}

:host ::ng-deep .location-tab-main .mat-expansion-panel-body .p-listbox-main p-listbox .p-listbox-item {
  font-size: 13px !important;
  padding: 2px 8px !important;
}

/* Location tab end */

.padding-1-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.extra-row-c {
  display: flex;
  flex-direction: row-reverse;
}

.datepicker-c-main .form-label {
  font-weight: 500;
}

:host ::ng-deep .p-calendar.p-calendar-w-btn {
  width: calc(100% - 117px) !important;
}

:host ::ng-deep .second-datepicker .p-calendar.p-calendar-w-btn {
  width: calc(100% - 132px) !important;
}

:host ::ng-deep .p-calendar .p-inputtext {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-radius: 0 !important;
  padding-bottom: 3px !important;
  padding-left: 6px !important;
  font-family: sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
}

:host ::ng-deep .p-calendar .p-inputtext::placeholder {
  font-family: sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
}

:host ::ng-deep .datepicker-c-main .ng-pristine.ng-invalid.invalid-error span.p-calendar .p-inputtext {
  border-color: #F44336 !important;
}

:host ::ng-deep .p-calendar .p-inputtext:focus,
:host ::ng-deep .p-calendar .p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-calendar .p-button {
  color: #000;
  background: transparent;
}

:host ::ng-deep button.p-datepicker-trigger.p-button.p-button-icon-only {
  padding: 0;
  width: auto;
  border: none;
}

:host ::ng-deep .p-calendar .p-button span.pi.pi-calendar {
  font-size: 20px !important;
}

i.fas.fa-info-circle {
  color: #4680ff !important;
  cursor: pointer;
}

i.fas.fa-info-circle.position-header{
  position: absolute;
  top: 13px;
  right: 45px;
}

button.close {
  position: relative;
  top: -15px;
  right: -10px;
}

:host ::ng-deep {
  .mat-checkbox {
      .mat-checkbox-layout {
          margin-right: 15px;
      }

      .mat-checkbox-inner-container {
          width: 14px;
          height: 14px;
          margin-right: 0;
      }
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
      opacity: 0.03 !important;
      background-color: #4680ff !important;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #4680ff !important;
  }
}


@media only screen and (max-width: 991px) {
  .location-tables {
    display: block;
  }

  .form-group.res-btn-wireline-save {
    // margin-bottom: 20px !important;
  }
}


img.media-object {
  max-width: 80px;
  min-width: 40px;
  height: 100%;
  object-fit: contain;
  padding-bottom: 10px;
}

:host ::ng-deep .form-control {
  height: unset !important;
  padding: 0px 0 !important;
}

:host ::ng-deep .mat-expansion-panel-content .form-control:disabled {
  padding: 6px 0 !important;
}

:host ::ng-deep .form-group {
  margin-bottom: 10px !important;
}

:host ::ng-deep .mat-expansion-panel-content .form-control:disabled {
  padding: 0 !important;
}

:host ::ng-deep.card .card-body {
  padding: 0 !important;
}

:host ::ng-deep .mat-accordion .mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid #cfcfcf !important;
}

:host ::ng-deep .form-group label {
  float: left !important;
}

:host ::ng-deep .form-group span {
  display: block;
  overflow: hidden;
  padding: 0 4px 0 6px;
}

:host ::ng-deep .margin-b-none {
  margin-bottom: 0 !important;
}

:host ::ng-deep .margin-top-10 {
  margin-top: 10px !important;
}

:host ::ng-deep .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 10px !important;
}

:host ::ng-deep .mat-expansion-panel {
  margin-bottom: 10px !important;
}

.mat-expansion-panel-header {
  border-radius: 0 !important;
}

:host ::ng-deep .user-activity-log-inner .ag-root-wrapper {
  border-radius: 12px !important;
}



:host ::ng-deep .mat-expansion-panel.table-border-none .user-activity-log-inner .ag-root-wrapper {
  border: none !important;
  border-radius: 0 !important;
}

:host ::ng-deep .padding-1-3 {
  padding-left: 1px !important;
  padding-right: 3px !important;
}

:host ::ng-deep .padding-3-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

:host ::ng-deep .padding-3-1 {
  padding-left: 3px !important;
  padding-right: 1px !important;
}

.padding-0-5 {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

.padding-5-0 {
  padding-left: 5px !important;
  padding-right: 0px !important;
}

.swap-section-add {
  display: flex;
  flex-direction: row-reverse;

  .add-left {
    padding-right: 10px;
  }

  .add-left,
.add-right{
  width: 50%;
}
}

.swap-section-edit {
  display: flex;
  flex-direction: column;

  .add-left {
    padding-right: 0;
  }
  .add-left,
  .add-right{
    width: unset;
  }
}

// .add-left,
// .add-right{
//   width: 50%;
// }



@media only screen and (max-width: 1199px) {
  .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 10px !important;
  }

  :host ::ng-deep .row .padding-1-3-wireline {
    padding-left: 1px !important;
    padding-right: 3px !important;
  }

  :host ::ng-deep .row .padding-3-3-wireline {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .padding-5-0,
  .padding-0-5,
  :host ::ng-deep .row .padding-3-1-wireline,
  :host ::ng-deep .padding-1-3,
  :host ::ng-deep .padding-3-3,
  :host ::ng-deep .padding-3-1,
  :host ::ng-deep .padding-1-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .btn.btn-icon.service-tab-btn {
    left: 5px;
  }

  .swap-section-add {
    display: flex;
    flex-direction: column;

    .add-left {
      padding-right: 0;
    }

    .add-left,
    .add-right{
      width: unset;
    }
  }

}

@media only screen and (max-width: 767px) {

  .tem-img-right-sec-responsive {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }

  .tem-sm-responsive {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  :host ::ng-deep .row .padding-1-3-wireline.shimmer-res {
    padding-left: 1px !important;
    padding-right: 3px !important;
  }

  :host ::ng-deep .row .padding-3-1-wireline.shimmer-res {
    padding-left: 3px !important;
    padding-right: 1px !important;
  }
}

@media only screen and (max-width: 575px) {

  :host ::ng-deep .row .padding-1-3-wireline,
  :host ::ng-deep .row .padding-3-3-wireline,
  :host ::ng-deep .row .padding-3-1-wireline {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/*Shimmer effect*/

.line {
  width: 100%;
  height: 20px;
  border-radius: 3px;
}

.logo-shimmer {
  width: 45px;
  height: 40px;
  border-radius: 50%;
}


.shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
}

.shimmer-res {
  padding-top: 8px !important;

}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

.mat-button.mat-button-disabled.mat-button-disabled {
  color: #fff !important;
}



/* p-table New Start */

:host ::ng-deep .p-datatable {
  overflow-x: auto;

  .p-datatable-loading-overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    // table-layout: unset;

    tbody tr {
      border-bottom: 1px solid #E2E5E9;
    }

    thead tr th {
      border-bottom: 1px solid #BABFC7;
      padding: 0px 18px;
      font-size: 15px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
      font-weight: 500;
      color: #181d1f;
      background: #EEEEEE;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 33px;

      // input {
      //   width: 100%;
      //   border: 1px solid #babfc7;
      //   border-radius: 3px;
      // }

      .p-column-filter-menu-button {
        span.pi.pi-filter-icon.pi-filter {
          font-size: 12px;
        }

        &:hover {
          background: transparent;

          span.pi.pi-filter-icon.pi-filter {
            color: #2196f3;
          }
        }

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }

      .p-sortable-column-icon,
      .p-highlight .p-sortable-column-icon {
        color: #181d1f !important;
        font-size: 12px !important;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        background: #EEE !important;
      }

      &:hover,
      &.p-sortable-column.p-highlight {
        background: #EEE !important;
        color: #181d1f;
      }
    }

    tbody tr td {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
      font-size: 13px;
      color: #181d1f;
      font-weight: 400;
      padding: 0px 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}

:host ::ng-deep .p-datatable-scrollable-header-box {
  padding-right: 0 !important;
}


/* p-table New End */


