<div class="mat-dialog-header pb-2">
    <div class="mat-dialog-header-title">
        <h5 class="modal-title" id="exampleModalLabel">Service Type Attributes must be reviewed when the Vendor or
            Vendor Product is changed. Please review the selection below.</h5>
    </div>

    <button type="button" class="close" mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div mat-dialog-content>

    <div class="card-body py-0">
        <div class="container px-0">
            <form class="editForm px-0" [formGroup]="addServiceAttributeForm">
                <div class="row">
                    <div class="col-sm-12 col-xl-12 col-md-12 px-0 pt-2">
                        <div class="row m-t-15">
                            <div class="col-md-6 col-xl-6 ">
                                <div class="form-group">
                                    <label class="form-label">Service Number</label>
                                    <span><input class="form-control" formControlName="serviceNumber"
                                            disabled="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 ">
                                <div class="form-group">
                                    <label class="form-label">Parent Service Number</label>
                                    <span class="pr-0"><input class="form-control" formControlName="parentServiceNumber"
                                            disabled="true"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-label">Vendor Product</label>
                            <span> <input class="form-control" formControlName="vendorProduct" disabled="true" /></span>
                            <mat-error style="font-size: 12px;"
                                *ngIf="f.vendorProduct.errors?.required && (f.vendorProduct.touched || submitted) ">
                                Vendor Product is required</mat-error>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="form-group">
                            <label class="form-label">Service</label>
                            <span><input class="form-control" formControlName="service" disabled="true"></span>
                            <mat-error style="font-size: 12px;"
                                *ngIf="f.service.errors?.required && (f.service.touched || submitted) ">
                                Service is required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12 px-0">
                        <div class="form-group">
                            <label class="form-label">Vendor Product Description</label>
                            <span class="pr-0"> <input class="form-control" formControlName="VendorProductDescription"
                                    disabled="true" /></span>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-xl-12 col-md-12 px-0">
                        <div class="row">
                            <!-- <div class="col-md-6 col-xl-6 ">
                                
                            </div>
                            <div class="col-md-6 col-xl-6 ">
                                <div class="form-group">
                                    <label class="form-label">Service Type</label>
                                    <span class="pr-0"><input class="form-control" formControlName="serviceType"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.serviceType.errors?.required && (f.serviceType.touched || submitted) ">
                                        Service Type is required</mat-error>
                                </div>
                            </div> -->
                            <div class="col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Product</label>
                                    <span><input class="form-control" formControlName="product" disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.product.errors?.required && (f.product.touched || submitted) ">
                                        Product is required</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Product Type</label>
                                    <span class="pr-0"><input class="form-control" formControlName="productType"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.productType.errors?.required && (f.productType.touched || submitted) ">
                                        Product Type is required</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 ">
                                <div class="form-group">
                                    <label class="form-label">Charge Code Display Name</label>
                                    <span><input class="form-control" formControlName="chargecodeName"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.chargecodeName.errors?.required && (f.chargecodeName.touched || submitted) ">
                                        Charge Code Name is required</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 ">
                                <div class="form-group">
                                    <label class="form-label">Charge Code Type</label>
                                    <span class="pr-0"><input class="form-control" formControlName="chargecodeType"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.chargecodeType.errors?.required && (f.chargecodeType.touched || submitted) ">
                                        Charge Code Type is required</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Charge Type</label>
                                    <span><input class="form-control" formControlName="chargeType"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.chargeType.errors?.required && (f.chargeType.touched || submitted) ">
                                        Charge Type is required</mat-error>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <div class="form-group">
                                    <label class="form-label">Charge Code Occurrence</label>
                                    <span class="pr-0"><input class="form-control" formControlName="chargeCodeOccurance"
                                            disabled="true"></span>
                                    <mat-error style="font-size: 12px;"
                                        *ngIf="f.chargeCodeOccurance.errors?.required && (f.chargeCodeOccurance.touched || submitted) ">
                                        Charge Code Occurrence is required</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="!stopSpinner">
                    <div class="spinner-border text-primary m-2"
                        style="margin-left: calc(50% - 20px) !important; width: 2.5rem !important;height: 2.5rem !important;"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="stopSpinner">
                    <div class="build-charge-code-group-accordian">
                        <p-table #dt dataKey="Id" [value]="rowData"
                            selectionMode="multiple" [(selection)]="selectedAttribute"
                            [globalFilterFields]="['ChargeCodeName','ChargeCodeDisplayName','ChargeCodeType.Name']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="font-p-table-header">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th class="font-p-table-header" field="ChargeCodeName" width="30%">Service Type</th>
                                    <th class="font-p-table-header" field="ChargeCodeDisplayName"
                                        width="calc(40% - 35px)">Attribute</th>
                                    <th class="font-p-table-header" field="ChargeCodeType.Name" width="30%">Attribute
                                        Value</th>
                                </tr>

                            </ng-template>
                            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                                <tr style="height: 24px;">
                                    <td>
                                        <p-tableCheckbox [value]="row" #checkElm [binary]="true"
                                            (click)="getAttribute(row, $event, true)"></p-tableCheckbox>
                                    </td>
                                    <td class="f-s-words" width="30%" style="font-weight: 400;">
                                        {{row.ServiceType.Name}} </td>
                                    <td class="f-s-words" width="calc(40% - 35px)" style="font-weight: 400;">
                                        {{row.Attributes.Name}} </td>
                                    <td width="30%" style="font-weight: 400;">
                                        <input value="{{row.attribute_value ? row.attribute_value : ''}}"
                                            (keyup)="getAttribute(row, $event)" class="" />
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="5" class="text-center" style="height: calc(100% + 0px);">No Row To Show
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-container>

                <ng-template #attributeCell let-row >
                    <input value="{{row.attribute_value ? row.attribute_value : ''}}"
                        (input)="getAttribute(row, $event)" placeholder="Enter Attribute value" class="attribute-value" />
                </ng-template>

            </form>
        </div>
    </div>
</div>


<mat-dialog-actions class="py-3" align="center">
    <button mat-button class="btn btn-primary mr-2 mat-spinner-btn" [disabled]="saveButtonLoader"
        (click)="saveAttribute()" cdkFocusInitial>
        <span class="spinner-border spinner-border-sm mr-2" *ngIf="saveButtonLoader"></span>
        Save</button>
</mat-dialog-actions>