
<div class="mat-dialog-header pb-2">
    <div>
        <h5 class="modal-title" id="exampleModalLabel">Link People</h5>
    </div>

    <button type="button" class="close" [mat-dialog-close]="'undefined'">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div mat-dialog-content class="px-0 m-0">

    <div class="card-body p-0">
        <div class="container px-0">
            <app-ag-grid-table [sideBar]="sideBar" [tableHeight]="'400px'"
                [columnDefs]="columnDefs" [getDataPath]="getDataPath"
                [sheetName]="'Locations'" [exportFilename]="'Locations.xlsx'"  [treeData]="true"
                [rowSelection]="rowSelection"
                [rowHeight]="24">
            </app-ag-grid-table>
        </div>
    </div>
</div>
<mat-dialog-actions class="pt-0" align="center">
    <button mat-button class="btn btn-primary" cdkFocusInitial>
        Save</button>
     <button mat-button class="btn btn-primary" cdkFocusInitial>
        Save & Set as Primary</button>

</mat-dialog-actions>