.mat-button.mat-button-disabled.mat-button-disabled {
    color: #fff !important;
}

.mat-dialog-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e5e8;
}