<div class="app-error-warning-popup-c">
    <div class="mat-dialog-header pb-3">
        <h5 class="modal-title {{messageData?.titleClass}}">{{messageData?.title}}</h5>
        <i class="fas fa-times" [mat-dialog-close]="close"></i>
    </div>
    <div mat-dialog-content class="pt-3">
        <div class="container">
            <div class="row mx-0 px-2 align-items-center">
                <div class="col-md-12 popup-main-section">
                    <div class="{{ isSuccess ? 'popup-success-icon' : 'popup-left-icon'}}">
                        <i class="{{ isSuccess ? 'fas fa-thumbs-up' : messageData.icon}} {{messageData.iconClass}}"></i>
                    </div>
                    <div class="popup-right-desc">
                        <ul class="mb-0 p-0 list-unstyled text-c-blue">
                            <span>{{messageData.message}}</span>
                        </ul>

                        <!-- <div *ngIf="selectedRow.length > 1" class="mt-2">
                            <mat-radio-group class="d-block" [(ngModel)]="selectedVP" name="role">
                                <mat-radio-button *ngFor="let option of selectedRow; let i=index;"
                                    style="display: block;" [value]="option.VendorProductId"
                                    class="m-l-10 custom-radio">
                                    {{option.VendorProductName}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>

    </div>
    <mat-dialog-actions class="py-3" align="end">
        <div class="container">
            <div class="row">
                <div class="col-md-12 attention-popup-btn">
                    <button mat-button class="btn btn-primary" [mat-dialog-close]="false" cdkFocusInitial
                         (click)="redirectTo('locations')">Locations</button>

                    <button mat-button class="btn btn-primary ml-2" [mat-dialog-close]="false"
                        (click)="redirectTo('people')"
                        cdkFocusInitial>People</button>
                </div>
            </div>
        </div>

    </mat-dialog-actions>
</div>