<div *ngIf="!dataAvailble && update" class="loader-spinner">
    <span class="spinner-border text-primary c-table-spinner" role="status"></span>
</div>

<app-card *ngIf="dataAvailble" class="map-card" [options]="false">

    <button *ngIf="viewNEdit" title="Edit Map" type="button" class="btn btn-icon btn-outline-primary map-btn-c"
        (click)="onEditMap(rowData)"> <i class="fas fa-map-marker-alt"></i></button>

    <google-map height="540px" width="100%" [center]="center" [zoom]="zoom">
        <map-marker [position]="center"></map-marker>
    </google-map>
</app-card>