<!-- <ng-container>
    <div class="mt-2" style="display: flex; gap: 8px; justify-content: end;">
        <button type="button" class="btn btn-primary" style="color: #fff;" mat-button (click)="UploadFile()">Upload
            File</button>
    </div>
</ng-container> -->

<div class="cost-center-structure-accordian mt-2">
    <mat-accordion class="example-headers-align accordion-header-tooltip">
        <mat-expansion-panel [expanded]="true" [disabled]="true">
            <button type="button" class="fas fa-check c-refresh-speed" title="Refresh" [ngClass]="{'disabled': loading}"
                (click)="loadNodes(true)"></button>
            <mat-expansion-panel-header class="math">
                <mat-panel-title class="matt">
                    <img src="assets/images/file-monitor-icon.svg" alt="Monitor Grid icon">&nbsp;Cost Center Upload
                    Monitor
                </mat-panel-title>
                <i class="fas fa-info-circle" tooltipClass="tooltip-bg" (click)="openPopup()"></i>
                <!-- <i class="fas fa-info-circle" (click)="openPopup()" tooltipClass="tooltip-bg"></i> -->
                <ng-template #ccText>
                    <div class="mat-dialog-header">
                        <button type="button" class="close" mat-dialog-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="text-left dialog-data">
                        <h5 class="mb-2">Cost Center Upload Guide</h5>
                        <p class="mb-2">Use this tool to import cost centers for your companies.</p>
                      
                        
                        <p class="mb-2"><strong>Template:</strong> Download the template by selecting the <strong>Upload File</strong> button.</p>
                      
                        <h5 class="mb-2">Data Entry</h5>
                        <ul class="mb-0">
                          <li>
                            Populate the template with delimiters for each GL section or place the full cost center in the <strong>GL1</strong> field, ensuring at least one GL field is populated.
                          </li>
                          <li>
                            Ensure every cost center is marked as a <strong>GL</strong> or <strong>Job Code</strong>. Missing identifiers will cause the import to fail.
                          </li>
                        </ul>
                      
                    </div>
                </ng-template>
            </mat-expansion-panel-header>

            <ng-container style="height: max-content;">
                <p-treeTable #treeTable [value]="filteredData" columnResizeMode="expand" [columns]="displaycols" [rows]="10"
                    [lazy]="true" (onLazyLoad)="loadNodes(true)" [totalRecords]="totalRecords" [scrollable]="true"
                    [resizableColumns]="true" selectionMode="checkbox" selectionMode="single"
                    [reorderableColumns]="true" (onColResize)="handleColumnResize($event)">

                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <ng-container *ngFor="let col of columns">
                                <col [ngStyle]="{'width': col.width || 'auto', 'min-width': col.width || '100px'}" />
                            </ng-container>
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr class="header-row p-treetable-thead-parent">
                            <ng-container *ngFor="let col of cols">
                                <ng-container *ngIf="col.isChildren && col.isParentVisible">
                                    <th [attr.data-parent-id]="col.parent" [attr.colspan]="col.colspan"
                                        ttResizableColumn class="parent-header"
                                        [ngStyle]="{'width': col.parentWidth || 'auto', 'height': '50px' }">
                                        <span>{{ col.header }}</span>
                                        <i class='pi pi-fw pi-chevron-right icon-contracted'
                                            *ngIf="!innerLoading && col.isChildren && col.isicon == 1 && col.isToggle"
                                            (click)="toggleColumn(col.parent , 'close')"></i>
                                        <i class='pi pi-fw pi-chevron-left icon-expanded'
                                            *ngIf="!innerLoading && col.isChildren && col.isicon == 0 && col.isToggle"
                                            (click)="toggleColumn(col.parent , 'open')"></i>
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="header-row p-treetable-thead-child">
                            <ng-container *ngFor="let col of columns">
                                <ng-container>
                                    <th ttResizableColumn ttReorderableColumn (click)="OrderBy(col.field  )"
                                        class="child-header"
                                        [ngStyle]="{'width': col.width || 'auto', 'height': '50px' }">
                                        {{ col.childHeader }}
                                        <i class='pi pi-arrow-up' *ngIf="col.sorting === 'asc'"></i>
                                        <i class='pi pi-arrow-down' *ngIf="col.sorting === 'desc'"></i>
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="header-row p-treetable-thead-filter">
                            <ng-container *ngFor="let col of columns">
                                <ng-container>
                                    <th class="child-header"
                                        [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">
                                        <input type="text" [(ngModel)]="col.valuesset" [disabled]="col.isenable"
                                            pInputText size="8" *ngIf="col.type === 'text'"
                                            (input)="filerOutSide($event, col)" style="width: auto" />

                                        <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="col.valuesset"
                                            [disabled]="col.isenable" pInputText size="8"
                                            *ngIf="col.type === 'numberFilter'" (input)="filerOutSide($event, col)"
                                            style="width: auto" />

                                        <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender-grid"
                                            [disabled]="col.isenable" (ngModelChange)="filerOutSide($event, col)"
                                            *ngIf="col.type === 'dateFilter' && !col.isenable"
                                            [(ngModel)]="col.valuesset" placeholder="mm-dd-yyyy" appendTo="body"
                                            [showIcon]="true">
                                        </p-calendar>

                                        <input (input)="filerOutSide($event, col)" type="text" *ngIf="col.type === 'dateFilter' && col.isenable"
                                            [(ngModel)]="col.valuesset"  [disabled]="col.isenable" pInputText size="8"
                                            style="width: auto" />
<!-- 
                                        <button type="text" pButton icon="pi pi-filter-icon pi-filter icon-filter"
                                                 (click)="openContextMenu($event,col )"></button> -->
                                    </th>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns" let-k="rowIndex">
                        <tr class="body-row">
                            <ng-container *ngFor="let col of columns;  let i = index">
                                <ng-container>
                                    <td [(selection)]="selectedNode"
                                        (contextmenu)="showContextMenu($event, contextMenu , rowData[col.field])"
                                        class="cell" [ngStyle]="{'width': col.width || 'auto', 'height': '40px'}">


                                        <ng-container [ngSwitch]="col.field">

                                            <span *ngSwitchCase="'Action'">
                                                <i (click)="download(rowData, rowData['index'])" *ngIf="!downloadFile[rowData['index']]"
                                                    class="icon-size fas fa-cloud-download-alt"></i>&nbsp;
                                                <span class="spinner-border spinner-border-sm mr-2" *ngIf="downloadFile[rowData['index']]"></span>
                                            </span>

                                            <span *ngSwitchCase="'StatusDisplayText'">
                                                <i class="fas fa-solid fa-circle"
                                                    [ngStyle]="{ 'color': rowData[col.field] === 'Complete' ? '#23a023' :'#ff5959' }"
                                                    >
                                                </i> {{ rowData[col.field] }}
                                            </span>

                                            <span *ngSwitchCase="'CreationDate'">
                                                {{ rowData[col.field] | date: 'MM-dd-yyyy'}}
                                            </span>
                                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </tr>

                        <tr class="body-row"
                            *ngIf="isApiAlerdayCall && lastNode?.data.RepoId === rowNode.node.data.RepoId ">
                            <td class="cell">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td class="cell" [attr.colspan]="columns.length">
                                <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
                                <span *ngIf="!loading && totalRecords === 0">
                                    No Record Found
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
                <div class="custome-side-buttons">
                    <div class="custome-side-button" [ngClass]="{'active-border': sidebarVisible }">
                        <!-- vericaltext -->
                        <a class="custom-side-button-button ag-icon ag-icon-columns" (click)="openSidebar()">
                            <!-- <i class="fa fa-check"></i>  -->
                            Columns</a>
                    </div>
                </div>

                <div class="sidebar" *ngIf="sidebarVisible">
                    <div class="sidebar-content">
                        <p-tree [value]="filesColumns" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)"
                            (onNodeUnselect)="nodeUnselect($event)" [(selection)]="selectedFiles"> </p-tree>
                    </div>
                </div>
                <p-contextMenu
                    [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}"
                    #contextMenu [model]="items"></p-contextMenu>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<p-dialog [(visible)]="displayModal" modal="true" [closable]="true" [draggable]="false" [resizable]="false"
    [dismissableMask]="true" [header]="''" #treeTable
    [style]="{'left': contextMenuPosition.x + 'px', 'top': contextMenuPosition.y + 'px' ,'position': 'fixed'}">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption1" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>

            </div>
        </div>

        <div class="row" *ngIf="fieldsName?.type === 'text' ">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1"
                    placeholder="{{selectedOption1 === 'inrange' ? 'From' : 'Filter...'}}"
                    (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
            </div>
        </div>
        <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                    (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1" placeholder="mm-dd-yyyy"
                    appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <div *ngIf="selectedOption1 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text' ">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue1_1" placeholder="To"
                        (input)="onFilterChangedFirst($event)" pInputText size="8" style="width: auto" />
                </div>
            </div>
            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender"
                        (ngModelChange)="onFilterChangedFirst($event)" [(ngModel)]="textboxValue1_1"
                        placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
                </div>
            </div>
        </div>

        <div class="row my-1" *ngIf="displayModal1">
            <div class="col-md-12 d-flex justify-content-center condition-label">
                <label *ngFor="let radiobutton of radioItems">
                    <input type="radio" name="options" (click)="model.option = radiobutton"
                        [checked]="radiobutton === model.option" />{{ radiobutton }}
                </label>
            </div>
        </div>

        <div class="row" *ngIf="displayModal1">
            <div class="col-md-12 mb-2">

                <p-dropdown [(ngModel)]="selectedOption2" class="rounded-inputs20 select-select col-md-12"
                    [options]="countries" optionValue="name" optionLabel="display" appendTo="body">
                </p-dropdown>
            </div>
        </div>

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'text' ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'numberFilter' ">
            <div class="col-md-12">
                <input placeholder="{{selectedOption2 === 'inrange' ? 'From' : 'Filter...'}}" type="text" OnlyNumber [allowNegative]="true"
                    [(ngModel)]="textboxValue2" pInputText size="8" style="width: auto" />
            </div>
        </div>

        <div class="row" *ngIf="displayModal1 && fieldsName?.type === 'dateFilter' ">
            <div class="col-md-12">
                <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2"
                placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <div *ngIf="displayModal1 && selectedOption2 == 'inrange'">
            <div class="row" *ngIf="fieldsName?.type === 'text' ">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'numberFilter' ">
                <div class="col-md-12">
                    <input type="text" OnlyNumber [allowNegative]="true" [(ngModel)]="textboxValue2_1" placeholder="To" pInputText size="8"
                        style="width: auto" />
                </div>
            </div>

            <div class="row" *ngIf="fieldsName?.type === 'dateFilter' ">
                <div class="col-md-12">
                    <p-calendar dateFormat="mm-dd-yy" class="p-treeTable-calender" [(ngModel)]="textboxValue2_1" placeholder="mm-dd-yyyy" appendTo="body" [showIcon]="true">
                    </p-calendar>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <button type="text" class="btn btn-primary btn-sm" pButton (click)="onFilterChangedValue()">
                    Apply
                </button>
            </div>
        </div>
    </div>
</p-dialog>