<div class="mt-2">
    <mat-accordion class="example-headers-align accordion-grid ">
        <mat-expansion-panel style="width: 100%;" [expanded]="true" [disabled]="true">
            <button type="button" class="fas fa-check c-refresh-speed" title="Refresh"
                (click)="onAgGridReady(this.gridApi)"></button>
            <mat-expansion-panel-header class="math">
                <mat-panel-title class="matt font-weight-bold">
                    <i class="fa-location-arrow fas" style="color: #4680ff;"></i>&nbsp;Remit Addresses
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-ag-grid-table [columnDefs]="columnDefs" [rowData]="rowData" [rowSelection]="rowSelection"
                [sheetName]="'Remit Addresses'" [exportFilename]="'Remit Addresses.xlsx'"
                [defaultColDef]="defaultColDef" [gridOptions]="gridOptions"
                (onCellValueChangedEvent)="onCellValueChangedEventFor($event)"
                (onAgGridReadyEmit)="onAgGridReadyEmit($event)" (onAgGridReady)="onAgGridReady($event)"
                (onCellDoubleClickedEvent)="onCellDoubleClicked($event)" [sideBar]="sideBar" [singleClickEdit]="true">
            </app-ag-grid-table>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="text-right mt-2 mr-3">
                <span>
                     {{girdDataCount}} {{girdDataCount > 1 ? 'records' : 'record'}}
                </span>
            </div>
        </div>
    </div>
</div>