:host ::ng-deep .sandbox-step-grid {
    .mat-expansion-panel-body {
        padding: 0 15px !important;

        ag-grid-angular {
            height: 400px !important;
            padding-bottom: 0 !important;

            .ag-root-wrapper {
                border-radius: 0 0 4px 4px !important;
            }
        }

        .grid-header-wrapper {
            margin: 0 !important;
        }
    }
}


.math {
    background: #80808061 !important;
    height: 40px;
}

.matt {
    margin-left: 40%;
    margin-right: 0px !important;
}

.mat-expansion-panel {
    box-shadow: none;
}

.mat-expansion-panel-header {
    border-radius: 0 !important;
}

:host ::ng-deep .ag-center-cols-viewport .ag-center-cols-container .ag-row .ag-cell {
    font-size: 12px !important;
}

i.fas.fa-info-circle {
    color: #4680ff !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 40px;
    top: 13px;
}

.grid-save-section {
    position: relative;
}

.record-count-text {
    content: '';
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 60px;
}

@media only screen and (max-width: 600px) {
    .record-count-text {
        right: 0;
    }
}